
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F27dcfa9b709e9193ebb664cd84425298' type='text/javascript'%3E%3C/script%3E"));

$(function(){
	$('a[href^="http://tongji.baidu.com/"]').hide();

})

</script>

</body>
</html>
