<div id="rule_div_box" class="protocol-dialog" style="display: none;">
    <a class="button-close" href="javascript:;">关闭</a>
    <a class="button-true" href="javascript:;">确定</a>
    <div class="protocol-content">
      <p>万科MIXTOWN2014年第3季老友记方案——MIXTOWN为您加油</p>
      <p>活动时间：<br/>
        2014年8月8日——2014年12月31日
      </p>
      <p>活动对象：<br/>
        万客会金卡会员和万科老业主（全国万科所有项目业主）
      </p>
      <p>
        活动内容：<br/>
        万科老业主或万客会金卡会员推荐新客户（首次到访MIXTOWN销售中心的客户）实现认购，老业主可得5000元现金（目前暂定为现金, 若有变更，万科方不再另行通知）。
      </p>
      <p>
        参加方式：<br/>
        推荐途径:利用业主合伙人平台推荐万科老业主或万客会金卡会员推荐新客户时，登录项目官方微信平台，通过“蜜糖V灵通”推荐客户，审核周期为1个工作日，如经后台审核通过（通过销售系统查询该客户未来过销售中心），系统会返回审核通过凭证，并由后台安排客户经理联系客户，并由后台填写推荐确认单存档。
      </p>
    </div>
  </div>