    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

                  <li class="nav-header">系统设置</li>
                  <li><a href="/manger/admin/list">管理员</a></li>
                  <li><a href="/manger/app/list">应用管理</a></li>

                  <li class="nav-header">用户管理</li>
                  <li><a href="/manger/user/list">用户信息列</a></li>
                  <li><a href="/manger/userbind/list">用户认证列</a></li>
                  <li><a href="/manger/userbindcheck/list">审核用户认证</a></li>
                  <li class="hide"><a href="/manger/score/list">积分获取</a></li>


                  <li class="nav-header">微信设置</li>
                  <li><a href="/manger/reply/list">微信图文回复</a></li>
                  <li><a href="/manger/menu/list">自定义菜单</a></li>
                  

                  <li class="nav-header">物业小区</li>
                  <li><a href="/manger/co/list">楼盘管理</a></li>
                  <li><a href="/manger/near/list">楼盘周边配套</a></li>
                  <li><a href="/manger/service/list">楼盘物业服务</a></li>
                 

                  <li class="nav-header">新闻和活动</li>
                  <li><a href="/manger/news/list">新闻公告</a></li>
                  <li><a href="/manger/active/list">优惠活动</a></li>


                  <li class="nav-header">服务和反馈</li>
                  <li><a href="/manger/suggest/list">服务，投诉，留言列表</a></li>
                  <li><a href="/manger/suggest_check/list">用户反馈处理</a></li>
                  <li class="hide"><a href="/manger/rec/list" >推荐客户</a></li>

                  <li class="nav-header hide">积分商城</li>
                  <li class="hide"><a href="/manger/shop/list">商品管理</a></li>
                  <li class="hide"><a href="/manger/score/consume_list">积分消费</a></li>

                  <li class="nav-header hide">抽奖管理</li>
                  <li class="hide"><a href="/manger/lottery/list">抽奖活动</a></li>
                  <li class="hide"><a href="/manger/lotteryPrize/list">奖品管理</a></li>
                  <li class="hide"><a href="/manger/lotteryRec/list">抽奖流水</a></li>


            </ul>
          </div><!--/.well -->
        </div><!--/span--> 
        <div class="span10">