<div class="main container-fluid">
		<div class="row">
			<a href="/view/user/score?wxuserid=<%= userObj._id.toString() %>"><div class="user_info col-xs-4">积分</div></a>
			<a href="/view/user/exchange?wxuserid=<%= userObj._id.toString() %>"><div class="user_info col-xs-4">兑换</div></a>
			<a href="/view/user/modify?wxuserid=<%= userObj._id.toString() %>"><div class="user_info col-xs-4">首页</div></a>
		</div>

	</div>
	<div class="integral_info row">
		<div class="col-xs-4 col-md-4">积分：100</div>
		<div class="col-xs-4 col-md-4">剩余：100</div>
		<div class="col-xs-4 col-md-4">已兑换：0</div>
	</div>