<!--
<article class="topNews">
    <nav>
        <ul id="specialNav">
            <li type="1" class="pd42">
                <div>
                    <a href="javascript:;">新闻</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="2" class="pd42">
                <div><a href="javascript:;">人文</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="3" class="pd42">
                <div><a href="javascript:;">生活</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="4" class="pd42">
                <div><a href="javascript:;">娱乐</a>
                    <div class="navHint"></div>
                </div>
            </li>
            <li type="5" class="pd42">
                <div><a href="javascript:;">专题</a>
                    <div class="navHint"></div>
                </div>
            </li>
        </ul>
    </nav>
</article>
-->