<!DOCTYPE html>

<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width">
        <meta charset="utf-8" />
        <title>飞机大战</title>
        <link rel="stylesheet" type="text/css" href="/static/game2_plane/css/global.min.css" />
        <script type="text/javascript" src="/static/game2_plane/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/basejs/game.js"></script>
    </head>
    <body>
        <div id="main">
            <div id="container">
                <div id="modal" class="hide">
                    <div class="header">飞机大战分数</div>
                    <div class="content" id="content"></div>
                    <div class="footer">
                        <button class="repaly">重 玩</button>
                        <button class="sendscore" id="sendscore">发送成绩，获得积分</button>
                    </div>
                     <div class="footer">
                            每款游戏每天只可发送一次成绩，分数越高积分越多哦~
                     </div>
                </div>
                <div id="score"></div>
                <canvas height="800" width="480" id="game-box"></canvas>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/static/game2_plane/js/plain.min.js"></script>
    <script type="text/javascript">
        var gameid = '<%= doc._id %>';
        var userid = '<%= userObj._id %>';
        var resultToScore = [
            {min:0,max:100,score:10},
            {min:100,max:500,score:100},
            {min:500,max:1000,score:200},
            {min:999,max:99999999999,score:500}
        ]
        $(function(){
            $('#sendscore').click(function(){
                var myscore = $('#content').html()
                var getscore = fromListgetScore(resultToScore, myscore);
                if(getscore<0) return alert('积分获取失败');
                $.post('/api/score/game',{
                    'gameid':gameid,
                    'gameresult':myscore,
                    'gamescore':getscore,
                    'wxuserid':userid
                },function(d){
                    if(d.error == 1) return alert(d.data)
                    alert('恭喜您获取积分：'+getscore)
                },'json')
                return false;
            })
        })
    </script>
</html>
