#loading {
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	background-color: rgba(255, 255, 255, 0.1);
	display: -webkit-box;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}
*
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	background-color:white;
	margin: 0;
}
body,input{
	font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
}
.clear{
	clear:both;
}
ul {
	list-style: none;
	margin:0;
	padding:0;
}

/*搜索框*/
.search{
	background:white;
	padding-right:45px;
	border-radius:5px;
	position:relative;
}
.search input {
	display:block;
	width:100%;
	padding:9px;
	border-radius:5px;
	outline:none;
	box-sizing:border-box;
	border:none;
}
.search span{
	background:url(../images/search.png) center center no-repeat;
	position:absolute;
	height:100%;
	width:45px;
	right:0;
	top:0;
}

/*定位*/
.inner_left{
	text-align:center;
}
.inner_center{
	text-align:center;
}
.inner_right{
	text-align:right;
}
.ng-hide{
	display:none;
}

/*输入框*/
.input{
	border:none;
	outline:none;
	display:block;
	width:100%;
	border-bottom:1px solid #acacac;
	height:24px;
	line-height:24px;
	margin-top:2px;
}

/*按钮*/
.button{
	border:none;
	color:white;
	height:30px;
	line-height:30px;
	text-align:center;
	display:inline-block;
	padding:0 20px;
	font-size:16px;
	box-sizing:border-box;
    cursor:pointer;
}
.button.padding{
	line-height:inherit !important;
	height:auto;
	padding:8px 20px;
}
.button.white{
	background-color:white;
	color:black;
}
.button.cyan{
	background-color:#42c9e3;
}
.button.yellow{
	background-color:#fe9d2c;
}
.button.blue{
	background-color:#0099ff;
}
.button.icon.left{
	background-repeat:no-repeat;
	background-position:10px center;
	padding-left:35px;
}
.button.icon.right{
	background-repeat:no-repeat;
	background-position:right 10px center;
	padding-right:35px;
}

/*表格*/
.table {
	text-align:center;
	background-color:#d0d9c8;
	font-size:14px;
    color:#999999;
}
.table td{
	padding:5px 8px;
}
.table.full{
	width: 100%;
}
	.table tr {
		height: 26px;
	}
		.table th {
			background-color:#e1e4e9;
		}
        .table td{
            background:#f4faee;
        }
		
/* 运营支持 */
.forcent{
	height:25px;
	line-height:25px;
	text-align:center;
	color:gray;
	font-size:12px;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background-color:rgba(255,255,255,0.5);
}