.lb-nav a.lb-next, .lb-nav a.lb-prev{
    opacity: 1 !important;
}
.actCont2{
    padding: 20px 5px !important;
}
.ilike{
    left:10px;
    top:10px;
    width: 75px;
}
.relBox .main{
    width: 100%;
}
.no_upload{

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: none;
    padding: 10px 20px;
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    outline: medium;
    background:rgba(255,255,255,0.4);
    border: none;
    display: block;
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
    color:#fff;

}
.relBox .main .shareBox{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.relBox .main .shareBox ul li a{
    width: 100%;
}
.mask_box {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none;
background-color: #000;
filter: alpha(Opacity=90);
-moz-opacity: 0.90;
opacity: 0.90;
z-index: 99999;
}
.mask_box img{
    display: block;
    position: absolute;
    right: 0;
    top:0;
}

.k-upload-files, .k-upload-status{
    display: none;
}
.k-upload{
    border: none;
}
.k-upload-button{
    width: 200px;
    height: 40px;
    line-height: 35px;
    border-radius: 10px;
    font-family: "微软雅黑";
}
.k-upload-button:hover, .k-button:hover{
    background: none !important;
    background-color: #c00 !important;
}
.waterL, .waterR{
    width: 48%;
    display: block;
    overflow: hidden;
    height: auto;
    min-height: 50px;
    padding-bottom: 50px;
}
.waterL{
    float: left;
}
.waterR{
    float: right;
}
.relBox .main .labelBox{
    margin: 0 auto;
}
#main{
    width: 100%;
}
.img_block{
    margin-bottom: 10px;
}
.img_block h3{
 text-indent: 5px;
 font-size: 12px;
 margin: 0px;
 background-color: #000;
 padding: 5px 0;
 color:#fff;
 overflow: hidden;
 height: 24px;
}
.img_block img{
    border: none !important;
}
.img_block{
   border: #fff 4px solid;
   padding: 0 !important;
}
.change_btn{
    border: 2px solid #b5b5b5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: none;
    padding: 10px 20px;
    width: 80%;
    color: #fff;
    font-size: 1.2em;
    outline: medium;
    background: #f39800;
    border: none;
    display: block;
    margin: 0 auto 15px;
    text-align: center;

}
.clearpadding{
    padding-top: 20px;
}
.lb-number{
    display: none !important;
}

.my_p_tip{
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    color: #fff;
    border-radius: 15px;
    background:rgba(255,255,255,0.4);
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}

.relBox .main .shareBox ul li a{
    width: 80%
}

.vote_submit{
    height: 40px;
    line-height: 40px;
    background-color: #3366ff;
    text-align: center;
    font-size: 18px;
    color: #fff;
    display: block;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.shareBox ul{
    margin-bottom: 50px;
}


.zoom,.ilike2{position:absolute;line-height:25px;padding:0 0 2px 18px;text-align:center;
    top:-10px;right:-10px;display:block;text-decoration:none;
    background:url(images/sel_bg.png) no-repeat 0 -50px;background-size:50px 100px;}
.ilike2{width:51px; height: 50px;}
.ilike2.sel_ok{
    background:url(images/sel_bg.png) no-repeat 0 0px;background-size:50px 100px;
}


.ilike_lv0{
     background:url(images/lv0.png) no-repeat 22 0px;background-size:50px 50px;  
}
.ilike_lv1{
     background:url(images/lv1.png) no-repeat 22 0px;background-size:50px 50px;
}
.ilike_lv2{
     background:url(images/lv2.png) no-repeat 22 0px;background-size:50px 50px;
}
.ilike_lv3{
     background:url(images/lv3.png) no-repeat 22 0px;background-size:50px 50px;
}
.ilike_lv4{
     background:url(images/lv4.png) no-repeat 0 0px;background-size:50px 50px;
}


.chooseTip{
    background-color: #f39800;
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border-radius: 15px;
    margin: 15px auto;
    text-align: center;
}

.change_btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0;
margin: 0;
border-radius: 0
}

.chooseInput{
    width: 80%;
    display: block;
    margin: 15px auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background-color: #333;
    text-indent: 1em;
}
.shareBox a span{
    color: #fff;
}
.waterL, .waterR{
    overflow: visible
}
.chooseTip span {
    padding: 0 5px;
    color: #fff;
    font-size: 16px;
}
.relBox .main .ctBox .actCont{
    width: 99%
}
.record_title{
    background:rgba(255,255,255,0.4);
    width: 90%;
    margin: 30px auto 10px;
    text-indent: 2em;
    color: #fff;
    border-radius: 15px;
    padding: 5px 0;
    background:rgba(255,255,255,0.4);
    line-height: 16px;
    font-size: 16px;
    text-align: left;
}
.lb-cancel{
    background: url(loading.gif) -13px 0 no-repeat !important;
}
.lb-data .lb-close{
    background: url(close.gif)  top right no-repeat;
}