<% include inc/head %>
<%
  var title = '新闻公告'
%>
<% include inc/top %>

<section class="page-content container content-interests content-item">
    <ul>
      <li>
        <a href="http://wxdemo.zhixunhudong.com/index.php?g=Wap&amp;m=OldFriend&amp;a=index&amp;wecha_id=oqxqrjqvCH9Gh_3vCGTgnAEevW_8已认证">
          <img src="http://wxdemo.zhixunhudong.com/themes/Wap/default/common/hwvip/static/img/item03.jpg">
          <h1>有奖好友推荐</h1>
          <p>推荐亲友购房，拿一年物业管理费或2000元超市卡</p>
        </a>
      </li>
      <li>
        <a href="http://wx.zhixunhudong.com/index.php?g=Wap&amp;m=Index&amp;a=content&amp;token=hzvankev1&amp;id=828&amp;gh=gh_2e67bb99dded&amp;wecha_id=oqxqrjqvCH9Gh_3vCGTgnAEevW_8已认证">
          <img src="http://wxdemo.zhixunhudong.com/themes/Wap/default/common/hwvip/static/img/item02.jpg">
          <h1>免费咖啡</h1>
          <p><span>兑换地址</span>湖滨银泰</p>
          <p><span>时 间</span>至2014年12月30日</p>
        </a>
      </li>
      <li>
            <!--  zhangyi edit 2014-07-03  <a href="http://mp.weixin.qq.com/s?__biz=MjM5MzU3ODE1NQ==&mid=200344405&idx=1&sn=159174142a331c91fca080d2e9948ff9#rd&wecha_id=oqxqrjqvCH9Gh_3vCGTgnAEevW_8已认证" > -->
        <a href="javascript:;">
        <img src="http://wxdemo.zhixunhudong.com/themes/Wap/default/common/hwvip/static/img/item05.jpg">
        <h1>千元置业基金</h1>
      <!--    zhangyi edit 2014-07-03 <p>活动期间新认购客户均可享受1000元万科项目置业基金</p>   -->
                <p>活动已结束</p>
        </a>
      </li>
      
    </ul>
  </section>

<% include inc/foot %>