<% include inc/head %>
<%
  var title = '积分规则'
%>
<% include inc/top %>
<% include inc/score_top %>

<p class="score_rule_p">
  <span>积分规则：</span>
  <span>1、首次关注，成为会员，获取100积分；</span>
  <span>2、每日登录，获取5积分；</span>
  <span>3、参与各种线上、线上活动，获取一定积分；（具体分值根据活动情况而定）</span>
  <span>4、转发或评论专刊内容，将获取5积分，每篇文章每个帐号转发或评论只能获取一次积分；</span>
  <span>6、推荐好友注册获取20积分，待好友注册完毕后，该好友每次获取积分的10%将会加到您的积分余额中；</span>
  <span>7、通过参与微信游戏，获取定量积分。（具体积分根据游戏的得分不同而定，游戏得分越高积分获取越多，单个游戏每天只能获取一次积分）。</span>
</p>


<% include inc/foot %>