<% include inc/head %>
<%
  var title = '个人中心'
%>
<% include inc/top %>


<section class="page-content container content-info  info-blue">
    <section class="info-my">
      <header>
        <h1><%= userObj.appUserName %></h1>
        <div>
          <img src="/static/wanke_skin/img/mem_head.jpg">
        </div>
      </header>
      <ul>
        <li>
          <h2>联系电话</h2>
          <p><%= userObj.appUserMobile %></p>
        </li>
        <li>
            <h2>楼号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
            <p><%= binderObj.appUserBuilding %> 栋</p>
        </li>
        <li>
             <h2>房号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
              <p><%= binderObj.appUserRoom %> 室</p>
        </li>                               
      </ul>
    </section>
          <!--<a class="icon level" href="tel:057187971125">升级会员</a>   -->
  </section>

<% include inc/foot %>