<% include inc/head %>
<%
  var title = '个人中心'
%>
<% include inc/top %>


<section class="page-content container content-info  info-blue">
    <section class="info-my">
      <header>
        <h1>万小猛</h1>
        <div>
          <img src="http://wxdemo.zhixunhudong.com/themes/Wap/default/common/hwvip/static/img/head.jpg">
        </div>
      </header>
      <ul>
        <li>
          <h2>联系电话</h2>
          <p>13771852152</p>
        </li>
        <li>
          <h2>证件号码</h2>
          <p>360852199110251219</p>
        </li>
                                <li>
                                    <h2>性别&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                                    <p>男</p>
                                </li>
                                <li>
                                     <h2>年龄&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
                                      <p>22</p>
                                </li>                                <!--
        <li class="info-numb">
          <h2>会员号码</h2>
          <p>VK-951043812</p>
        </li>
                                -->
      </ul>
    </section>
    <section class="info-myhouse">
      <h2>房产信息</h2>
      <p></p>
    </section>
          <!--<a class="icon level" href="tel:057187971125">升级会员</a>   -->
  </section>

<% include inc/foot %>