<% include inc/head %>
<%
  var title = '上院生活'
%>
<% include inc/top %>
<% include inc/special_top %>

<article class="topNews">
<section class="newsList">
<ul page="0" class="newsPage"  id="specialListContent"></ul>
<div id="listMore" class="pageBtn">点击查看更多</div>
</section>
</article>
<% include inc/foot %>