<% include inc/head %>
<%
  var title = '每日签到'
%>
<% include inc/top %>

<article style="display: block;" class="articleList">
    <div class="head clearfix">
        <h1 class="h2_title"></h1>
    </div>
    <div class="daySignBox clearfix">
        <% if(todaySign){%>
          <p>您今天 <%= date %> 已经签过到了</p>
        <%}else{%>
          <p>您今天还没签到，<a href="javascript:;" id="day_sign" class="redBtn">立即签到 <%= date %></a></p>
        <%}%>
          <p>立即查看<a href="/view/user/modify?wxuserid=<%= userObj._id %>" target="_blank" class="reda">我的积分</a></p>
    </div>
</article>
<script type="text/javascript">
  $(function(){

      $('#day_sign').click(function(){
        if(window.isajax) return false;
          window.isajax = true         
          $.post('/api/score/daysign',{
            'wxuserid':window.userid
          },function(d){
              window.isajax = false;
              if(d.error) return alert(d.data)
              alert('签到成功');
              location.href = location.href
          },'json')

      })

  })
</script>

<% include inc/foot %>