<% include inc/head %>
<%
  var title = '积分榜'
%>
<% include inc/top %>
<% include inc/score_top %>

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="rank_table">
  <thead>
  <tr>
    <td><span>排名</span></td>
    <td><span>用户名</span></td>
    <td><span>积分</span</td>
  </tr>
  </thead>
  <tbody id="rank_tbody">
  </tbody>
</table>

<script type="text/javascript">

$(function(){
  var getRankList = function(){
      $.post('/api/user/scorerank',{'wxuserid':window.userid},function(d){
          if(d.error) return alert(d.data);
          var s=''
          d.data.forEach(function(o,i){
              s+='<tr><td>'+(i+1)+'</td><td>'+o.appUserName+'</td><td><b>'+o.appUserScore+'</b></td></tr>'
          })
          $('#rank_tbody').html(s);
      },'json')
  }

  getRankList();

  setInterval(function(){
      getRankList();
  },60*1000)



})

</script>


<% include inc/foot %>