<% include inc/head %>
<%
  var title = '推荐赢积分'
%>
<% include inc/top %>
<% include inc/score_top %>

<article style="display: block;" class="articleList">
    <h2>请输入被推荐人手机号</h2>
    <dl>
      <dt>
          手机号：
      </dt>
      <dd>
          <input type="text" value="" id="mobile" name="mobile" />
          <span id="mobile_tips"></span>
      </dd>

      <dt></dt>
      <dd>
          <button id="submitBtn">提交</button>
      </dd>
    <dl>
</article>

<script type="text/javascript">
  $(function(){

      $('#submitBtn').click(function(){
          var mobile = $('#mobile').val();
          if(!/^1[0-9][0-9]\d{4,8}$/.test(mobile)){
              $('#mobile_tips').html('手机号输入有误')
              return false;
          }
          $.post('/api/user/recommend',{
            'mobile':mobile,
            'wxuserid':window.userid
          },function(d){
              if(d.error) return alert(d.data)
              alert(d.data);
              location.href = location.href
          },'json')

      })

  })
</script>


<% include inc/foot %>