<% include inc/head %>
<%
  var title = '用户注册'
%>
<% include inc/top %>


  <div class="wrapper">
    
    <!-- content begin -->
    <div class="content">
      <!-- error message begin -->
      <div class="error-message" id="errorMessage" style="display:none;">
        手机号已经注册过，请登录或换个号码试试?
      </div>
      <!-- error message end -->
      
      <!-- phone register begin -->
      <div class="phone-register" id="phoneRegister">
        <form>
                    <input type="hidden" name="r" value="http://3g.sina.com.cn/" id="pr-hiddenR" />
                    <input type="hidden" name="entry" value="wapsso" id="pr-hiddenEntry" />
          <div class="input-w">
            <input type="text" placeholder="手机号" id="pr-nameInput" />
            <i class="input-icon icon-phone"></i>
          </div>
          <div class="input-w">
            <input type="password" placeholder="密码(6-16位数字或字母区分大小写)" id="pr-passwordInput" />
            <i class="input-icon icon-psd"></i>
            <a href="javascript:;" class="toggle-password hide" style="display:none;" id="pr-togglePassword">Toggle</a>
          </div>
          <div class="btn-w">
            <a href="javascript:;" class="large-btn blue" id="pr-submit">确定</a>
          </div>
        </form>
      </div>
      <!-- phone register end -->
      

    </div>
    <!-- content end -->
  </div>
  <script type="text/javascript" src="/static/req.js"></script>
  <script type="text/javascript" src="/static/register.js"></script>
<% include inc/foot %>