<% include inc/head %>
<link rel="stylesheet" type="text/css" href="/static/css/card.css" >
<%
  var title = '每日签到'
%>
<% include inc/top %>

<div class="qiandaobanner">     
    <img src="/static/images/qiandao.jpg">     
</div>

<article style="display: block;" class="articleList">
    <div class="head clearfix">
        <h1 class="h2_title"></h1>
    </div>

<% if(binderObj.appUserType == 0){ %>
     <div class="daySignBox clearfix">       
          <p>未认证会员不能签到，前往<a href="/view/user/regist?wxuserid=<%= userObj._id %>" target="_blank" class="reda">认证会员</a>，获得积分和参与活动</p>
    </div>   
<%} else{ %>

        <div class="cardexplain">

        <% if(todaySign){%>
          <a class="receive" id="qiandao">
                <span class="red">今天您已经签到了</span>
            </a>
        <%}else{%>
            <a class="receive" id="day_sign">
                <span class="red" >点此签到 <%= date %></span>
            </a>
        <%}%>
            <div class="jifen-box" style="margin-top: 13px;">
                <ul class="zongjifen">
                   
                    <li style="width: 100%">
                        <div class="fengexian">
                            <p>剩余积分</p>
                            <span id="totalaward"><%= userObj.appUserScore %> 分</span>
                        </div>
                    </li>
                   
                </ul>
                <div class="clr"></div>
            </div>

            <div class="jifen-box header_highlight">
                <div class="tab month_sel">
                    <span class="title" href="/view/user/modify?wxuserid=<%= userObj._id %>" target="_blank">查看签到及积分详情
                    </span>
          <font color="red">每人每天签到一次，多签无效</font>
                </div>
              
            </div>

        </div>
<%} %>

</article>
<script type="text/javascript">
  $(function(){

      $('#day_sign').click(function(){
        if(window.isajax) return false;
          window.isajax = true         
          $.post('/api/score/daysign',{
            'wxuserid':window.userid
          },function(d){
              window.isajax = false;
              if(d.error) return alert(d.data)
              alert('签到成功');
              location.href = location.href
          },'json')

      })

  })
</script>

<% include inc/foot %>