<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


<div class="app_sel_boc">
<div class="clear">
     <p class="">
        <label for="app_sel_inp">选择问卷调查活动：</label><input type="text" id="app_sel_inp" class="k-input k-textbox w-50-inp" >
    </p>

   
</div>

    <button  id="down2" class="k-primary fl_margin k-primary k-button">
        <span class="k-sprite k-icon k-i-refresh">Refresh</span>
        查询</button>
</div>


<div id="grid">
<h1>总参与人数：<b id="totalJoin"></b></h1>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>标题</th>
        <th>人数</th>
    </tr>
    </thead>
    <tbody id="tbody">
        
       
      </tbody>
</table>

</div>

<script type="text/javascript">

$(function(){




var hasInit = false;

$.post('/manger/investigate/getList',{},function(data_ary){
                    var d2 = []
                    data_ary.forEach(function(v){
                        d2.push({
                            text: v.title, 
                            value:v._id
                        })
                    })

                    window.investigate = d2;
                    
                    window.dropdown_init($("#app_sel_inp"), d2, function(){})

                    var investigateId = $.trim($("#app_sel_inp").val())




        var getDataToQuery = function(){
            return {
                investigateId:$('#app_sel_inp').val(),
               }
        }

        $('#down2').click(function(){
            $('#kendo_mask').show()
            $.post('/manger/investigateLog/info', getDataToQuery(), function(d){
                $('#kendo_mask').hide()
                if(d.error){
                    return alert(d.data)
                }
                
                var recordData = d.data
                var listData = []
                
                var str = ''
                recordData.forEach(function(recodeItem, pos){
                    var strType = recodeItem.question.type == 1 ? '单选' : '多选'
                    str+= '<tr><td>'+(pos+1)+'</td><td>'+recodeItem.question.title+'</td>'+
                          '<td>'+strType+'</td></tr>'

                    recordData.answer.forEach(function(answerItem){
                        str+= '<tr><td></td><td>'+answerItem.title+'</td>'+
                          '<td>'+answerItem.count+'</td></tr>'
                    })
                })

                $('#tbody').html(str)
                $('#totalJoin').html(d.total)

            },'json')

            

        })
         
    })//end ajax

})//end $(function)

</script>




<% include inc/foot %>
