<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


<div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l">
                <label for="_id">二维码id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="userId" >用户id</label>
            </div>
            <div data-container-for="userId" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="userId" data-bind="value:userId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="openId" >openId</label>
            </div>
            <div data-container-for="openId" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="openId" data-bind="value:openId" required="required">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="type" >二维码类型</label>
            </div>
            <div data-container-for="type" class="k-edit-field w-800-r">
               <input type="text" id="qrcode_type_inp" class="k-input k-textbox w-50-inp" name="type" data-bind="value:type" required="required">
            </div>
            
            <div class="k-edit-label  w-800-l">
                <label for="qrcodeGuid" readonly="readonly">流水号</label>
            </div>
            <div data-container-for="qrcodeGuid" class="k-edit-field w-800-r">
               <input type="text" id="sid" class="k-input k-textbox w-50-inp" name="qrcodeGuid" data-bind="value:qrcodeGuid" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="addScore" >增加积分</label>
            </div>
            <div data-container-for="addScore" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="addScore" data-bind="value:addScore" required="required">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="qrcodeUrl" >二维码图片地址</label>
            </div>
            <div data-container-for="qrcodeUrl" class="k-edit-field w-800-r">
               <input type="text" id="qrcodeUrl" class="k-input k-textbox w-50-inp" name="qrcodeUrl" data-bind="value:qrcodeUrl" >
               <br/>
               请先添加记录，再修改创建二维码，一次性生成，重复生成请删除<br/>
               <button id="createQrCode">创建二维码</buttom>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="createTimeStamp" >创建时间戳</label>
            </div>
            <div data-container-for="createTimeStamp" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="createTimeStamp" data-bind="value:createTimeStamp" readonly="readonly">
            </div>



<div style="display:none;">
            <div class="k-edit-label  w-800-l">
                <label for="code1" >备用1</label>
            </div>
            <div data-container-for="code1" class="k-edit-field w-800-r">
               <input type="text" id="" class="k-input k-textbox w-50-inp" name="code1" data-bind="value:code1" >
            </div>


            
            <div class="k-edit-label  w-800-l">
                    <label for="code2" >备用2</label>
                </div>
                <div data-container-for="code2" class="k-edit-field w-800-r">
                   <input type="text" id="" class="k-input k-textbox w-50-inp" name="code2" data-bind="value:code2" >
                </div>
</div>
          

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>

           

        </script>


<script>

    window.news_type = [window.news_type[0]];


 $(function () {
                var toolbarAry = [
                                { name: "create", text: "添加" }
                              ]
                var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]
                                           
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                       
                        transport: {
                            read:  {
                                url: DataHost + "/manger/qrcode/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/qrcode/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/qrcode/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/qrcode/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "userId": { editable: true },
                                    "openId": { editable: true },
                                    "type": { editable: true, type:'number'},
                                    "qrcodeGuid": { editable: false},
                                    "qrcodeUrl": { editable: true},
                                    "addScore":{editable: true, type:'number'},
                                    "createTimeStamp": { editable: false},
                                    "code1": { editable: true},
                                    "code2": { editable: true},
                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });

                

$.post('/manger/app/getList',{},function(data_ary){
                var d = []
                data_ary.forEach(function(v){
                    d.push({
                        text: v.appName, 
                        value:v._id
                    })
                })


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,
                    columns: [
                        {
                            field:'_id',
                            title:'二维码id',
                        },
                        { 
                            field: "userId",
                            title: "用户id",
                        },
                        { 
                            field: "openId",
                            title: "openId",
                        },
                        { 
                            field: "type",
                            title: "二维码类型",
                            values:window.qrcode_type,
                        },
                        { 
                            field: "qrcodeGuid",
                            title: "二维码流水号",
                            hidden:true
                        },
                        { 
                            field: "qrcodeUrl",
                            title: "二维码地址",
                            hidden:true
                        },
                        { 
                            field: "addScore",
                            title: "增加的积分",
                        },
                        { 
                            field: "createTimeStamp",
                            title: "生成时间",
                        },                        
                         { 
                            field: "code1",
                            title: "备用1",                           
                             hidden:true
                        },
                         { 
                            field: "code2",
                            title: "备用2",                           
                             hidden:true
                        },      
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');
       
                        $('#writeTime').kendoDateTimePicker();
                        
                        //multiUpload($("#upload_file"), $('#appPicture_inp'), 5)
                        //$("#intro").kendoEditor(window.kendo_edit_option);  
                        //window.dropdown_init($('#appId_inp'),d)
                        window.dropdown_init()  
                        window.dropdown_init($('#qrcode_type_inp'),window.qrcode_type)        

                        $('#createQrCode').click(function(){
                                var sid = $('#sid').val()
                                var type = $('#qrcode_type_inp').val()
                                if(!sid || !type){
                                    alert('流水号和类型必填')
                                    return false
                                }
                                $.post('/manger/qrcode/createQrcode', {
                                    's_id':sid,
                                    'type':type,
                                }, function(d){
                                    if(d.error){
                                        alert(d.result)
                                        return
                                    }
                                    else{
                                        $('#qrcodeUrl').val(d.result).change()
                                    }
                                },'json')
                        })               

                    },
                    filterable:window.filter_obj         
                });
      })                              
});

</script>
<% include inc/foot %>
