<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


<div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l">
                <label for="_id">活动id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="appId" >地产商</label>
            </div>
            <div data-container-for="appId" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="appId" data-bind="value:appId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="ename" >唯一英文名</label>
            </div>
            <div data-container-for="ename" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="ename" data-bind="value:ename" required="required">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="title" >活动标题</label>
            </div>
            <div data-container-for="title" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="title" data-bind="value:title" required="required">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="isPrize" >能否兑奖</label>
            </div>
            <div data-container-for="isPrize" class="k-edit-field w-800-r">
               <input type="number" id="isPrize" class="k-input k-textbox w-50-inp" name="isPrize" data-bind="value:isPrize" required="required">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="prizeAmount" >可兑奖次数</label>
            </div>
            <div data-container-for="prizeAmount" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="prizeAmount" data-bind="value:prizeAmount" required="required">
            </div>


            

            
            
            <div class="k-edit-label  w-800-l">
                <label for="picture">图片介绍</label>
            </div>
            <div data-container-for="picture" class="k-edit-field w-800-r">
                <input type="file" name="upload_file" id="upload_file">
                 <input type="text"  class="k-input k-textbox" style="display:none;" id="appPicture_inp" name="picture" data-bind="value:picture">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="intro" >活动介绍</label>
            </div>
            <div data-container-for="intro" class="k-edit-field w-800-r">
               <textarea id="intro" type="text" class="k-input k-textbox w-90-inp" name="intro" data-bind="value:intro"></textarea>
            </div>



            <div class="k-edit-label  w-800-l">
                <label for="url" >跳转地址</label>
            </div>
            <div data-container-for="url" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="url" data-bind="value:url" >
            </div>

<div style="display:none">
            <div class="k-edit-label  w-800-l">
                <label for="recCode1" >备用1</label>
            </div>
            <div data-container-for="recCode1" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="recCode1" data-bind="value:recCode1" >
            </div>
            <div class="k-edit-label  w-800-l">
                <label for="recCode2" >备用2</label>
            </div>
</div>            

            <div class="k-edit-label  w-800-l">
                <label for="isShow">是否启用</label>
            </div>
            <div data-container-for="isShow" class="k-edit-field w-800-r">
               <input type="number" id="isShow_inp" class="k-input k-textbox" name="isShow" data-bind="value:isShow" >
            </div>


           <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>

 
        </script>


<script>

    window.news_type = [window.news_type[0]];


 $(function () {


                var toolbarAry = [
                                { name: "create", text: "添加" }
                              ]
                var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]
                                           
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                       
                        transport: {
                            read:  {
                                url: DataHost + "/manger/active/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/active/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/active/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/active/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "appId": { editable: true },
                                    "title": { editable: true },
                                    "ename":{ editable: true },

                                    "isPrize":{ editable: true,type:'number' },
                                    "prizeAmount":{ editable: true,type:'number' },

                                    "intro": { editable: true },
                                    "picture": { editable: true}, 
                                    "url": { editable: true},

                                    "code1": { editable: true},
                                    "code2": { editable: true},

                                    "isShow": { editable: true, type:'number'},    
                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });

                

$.post('/manger/app/getList',{},function(data_ary){
                var d = []
                data_ary.forEach(function(v){
                    d.push({
                        text: v.appName, 
                        value:v._id
                    })
                })


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,
                    columns: [
                        {
                            field:'_id',
                            title:'活动Id',
                            hidden:true
                        },
                        { 
                            field: "appId",
                            title: "地产商", 
                            values:d,
                        },
                        { 
                            field: "ename",
                            title: "唯一英文名",
                        },
                        { 
                            field: "title",
                            title: "活动标题",
                        },
                        { 
                            field: "isPrize",
                            title: "可否兑奖",
                            values:window.isPrize,
                        },
                        { 
                            field: "prizeAmount",
                            title: "可兑奖次数",
                            hidden:true
                        },
                        { 
                            field: "intro",
                            title: "活动内容",
                            hidden:true
                        },
                        { 
                            field: "picture",
                            title: "活动图片",
                            hidden:true
                        },
                        { 
                            field: "url",
                            title: "跳转地址",
                            hidden:true
                        },
                        { 
                            field: "code1",
                            title: "备用1",
                            hidden:true
                        },
                         { 
                            field: "code2",
                            title: "备用2",
                            hidden:true
                        },
                        { 
                            field: "isShow",
                            title: "是否启用", 
                            values:[
                              { text: "启用", value: 1 },
                              { text: "不启用", value: 0 }
                            ]
                        }, 
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');

                        $('#writeTime').kendoDateTimePicker();
                        $("#intro").kendoEditor(window.kendo_edit_option);  
                    
                        window.dropdown_init($('#appId_inp'),d)
                        window.dropdown_init($('#isPrize'),window.isPrize)
                        window.dropdown_init()

                        multiUpload($("#upload_file"), $('#appPicture_inp'), 1)

                    },
                    filterable:window.filter_obj         
                });
      })                              
});

</script>
<% include inc/foot %>
