<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l">
                <label for="_id">奖品Id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="activeId" >所属抽奖活动</label>
            </div>
            <div data-container-for="activeId" class="k-edit-field w-800-r">
               <input type="text" id="lottery_inp" class="k-input k-textbox w-50-inp" name="activeId" data-bind="value:activeId" >
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="name" >奖品名称</label>
            </div>
            <div data-container-for="name" class="k-edit-field w-800-r">
               <input type="text"  class="k-input k-textbox w-50-inp" name="name" data-bind="value:name" data-required-msg="请填写奖品名称" aria-invalid="true">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="price">所需支持数量</label>
            </div>
            <div data-container-for="price" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="price" data-bind="value:price" required="required" data-required-msg="请填写奖品显示价格" aria-invalid="true">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="totalNumber">奖品总数</label>
            </div>
            <div data-container-for="totalNumber" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="totalNumber" data-bind="value:totalNumber" required="required" data-required-msg="请填写奖品总数" aria-invalid="true">
               <br/>
               <span>
                此次抽奖活动的奖品总数，抽完为止    
               </span>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="countNum">抽中次数</label>
            </div>
            <div data-container-for="countNum" class="k-edit-field w-800-r">
               <input type="number"  class="k-input k-textbox " name="countNum" data-bind="value:countNum" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="imgUrl">图片</label>
            </div>
            <div data-container-for="imgUrl" class="k-edit-field w-800-r">
                <input type="file" name="upload_file" id="upload_file">
                 <input type="text"  class="k-input k-textbox" style="display:none;" id="appPicture_inp" name="imgUrl" data-bind="value:imgUrl">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="desc" >奖品描述</label>
            </div>
            <div data-container-for="desc" class="k-edit-field w-800-r">
               <textarea id="intro" type="text" class="k-input k-textbox w-90-inp" name="desc" data-bind="value:desc"></textarea>
            </div>

           <div class="k-edit-label  w-800-l">
                <label for="isShow">是否启用</label>
            </div>
            <div data-container-for="isShow" class="k-edit-field w-800-r">
              <input type="number" id="isShow_inp" class="k-input k-textbox" name="isShow" data-bind="value:isShow" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime_inp" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>
<div style="display:none">
            
            <div class="k-edit-label  w-800-l">
                <label for="code1" >备用1</label>
            </div>
            <div data-container-for="code1" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code1" data-bind="value:code1" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="code2" >备用2</label>
            </div>
            <div data-container-for="code2" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code2" data-bind="value:code2" >
            </div>
</div> 
           

        </script>


<script>

 $(function () {
                window.appd;
     
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/activePrize/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/activePrize/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/activePrize/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/activePrize/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "activeId": { editable: true },
                                    "name": { editable: true },
                                    "desc": { editable: true },
                                    "imgUrl":{editable: true},
                                    "price":{editable: true},
                                    "totalNumber":{editable: true},
                                    "countNum":{editable: true},
                                    "isShow": { editable: true},
                                    "code1": { editable: true},
                                    "code2": { editable: true},
                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });


                var toolbarAry = [];
                var commandAry = [];
 
                    var toolbarAry = [
                                { name: "create", text: "添加活动奖品" }
                              ]

        
                    var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]


dataSource.bind("error", function(err){
    console.log(err)
    alert(err.xhr.responseText)
    return false;
});

$.post('/manger/active/getList',{},function(data_ary){
    var d = []
    data_ary.forEach(function(v){
        d.push({
            text: v.title, 
            value:v._id
        })
    })

                window.lotteryData = d;

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,

                    columns: [
                        {
                            field:'_id',
                            title:'商品Id',
                            hidden:true
                        },
                         { 
                            field: "activeId",
                            title: "所属活动",
                            values:window.lotteryData
                        },
                         { 
                            field: "name",
                            title: "奖品名称",
                        },
                         { 
                            field: "desc",
                            title: "奖品描述",
                            hidden:true
                        },
                        { 
                            field: "imgUrl",
                            title: "奖品图片",
                            template: "<img src='#=imgUrl#' width=50 height=50/>",
                        },
                        { 
                            field: "price",
                            title: "所需支持数量",
                            hidden:true
                        },
                        { 
                            field: "totalNumber",
                            title: "奖品总数",
                        },
                        { 
                            field: "countNum",
                            title: "抽中次数",
                        },
                        { 
                            field: "isShow",
                            title: "是否启用", 
                            values:window.is_show_array
                        },
                        { 
                            field: "code1",
                            title: "备用1", 
                            hidden:true
                        },                   
                        { 
                            field: "code2",
                            title: "备用2", 
                            hidden:true
                        },
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                        filterable:window.filter_obj,
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');
                  
                        window.dropdown_init()


                         $('#writeTime_inp').kendoDateTimePicker();
                
                         $("#intro").kendoEditor({
                                tools: window.editor_tools,
                                messages: window.editor_messages
                         });  

                         
                        multiUpload($("#upload_file"), $('#appPicture_inp'), 1)



                         window.dropdown_init($("#lottery_inp"), window.lotteryData)

                  }
                    
                });

    })         
                                    
});










</script>
<% include inc/foot %>
