<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>
          <div class="hero-unit">
          <%if(session.admin.indexOf('95515_vote') != -1){%>
          	<h1>合众人寿微信投票管控后台</h1>
          	<br/>
          	<h3>投票活动：<h3>
          	<p class="ft14 color777">进行投票活动的设置，比如投票活动开始结束时间，每位用户可以对被投票人每天可以投多少票等设置。</p>
          	<h3>地区管理：<h3>
          	<p class="ft14 color777">进行投票地区的设置，可以查看每个地区实时的参与人数，投票数，以及对地区进行添加修改。</p>
          	<h3>投票人管理：<h3>
          	<p class="ft14 color777">进行添加修改被投票人的设置，可以实时查看每位被投票人的票数，修改被投票人相关信息。</p>
          	<h3>投票流水：<h3>
          	<p class="ft14 color777">每位参与用户进行投票的数据记录都会在这个栏目里，记录了用户的用户Id以及IP地址等信息。</p>
          	<h3>投票统计：<h3>
          	<p class="ft14 color777">实时查询总参与人数，总投票数，各个全部或者各个地区的投票排行榜，同时支持导出功能。</p>
          <%}else{%>
          	<h1>欢迎登录后台管理系统</h1>
          <%}%>
          </div>
<% include inc/foot %>
