<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>
          <div class="hero-unit">
          <%if(session.admin.indexOf('95515_vote') != -1){%>
          	<h1>合众人寿微信投票管控后台</h1>
          <%}else{%>
          	<h1>欢迎登录后台管理系统</h1>
          <%}%>
            
          </div>
<% include inc/foot %>
