<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>

<div class="demo-section k-header">
       <div class="app_sel_boc">
            <span>选择投票分组：  </span>
            <input type="text" id="app_sel_inp" class="k-input k-textbox w-50-inp" >

            <button  id="selall" class="k-primary sync_button k-primary k-button">
                <span class="k-sprite k-icon k-i-refresh">Refresh</span>
                全选</button>
            <button  id="pass" class="k-primary sync_button k-primary k-button">
                <span class="k-sprite k-icon k-i-refresh">Refresh</span>
                审核通过</button>
            <button  id="stop" class="k-primary sync_button k-primary k-button">
                <span class="k-sprite k-icon k-i-refresh">Refresh</span>
                审核不通过</button>
        </div>


        <div id="listView"></div>
        <div id="pager" class="k-pager-wrap"> </div>
    </div>



<script type="text/x-kendo-tmpl" id="template">
    <div class="product">
        
        <img src="#:pictureThumb#" alt="#:desc# image" style="width:150px; height:150px;" />
        
        <h3><a href="#:pictureThumb#" target="_blank">#:title#</a></h3>
    </div>
</script>


<script type="text/javascript">
$(function () {
//导出获奖名单
    var groupList = <%- JSON.stringify(groupList)%>
    var groupKV = [
        { text: '请选择分组', value: '123456789012345678901234'}
    ]
    groupList.forEach(function(item){
        console.log(item)
        groupKV.push(
             { text: item.title, value: item._id.toString()}
        )
    })
    window.dropdown_init($("#app_sel_inp"), groupKV, function(data){
        var that = this
        setTimeout(function(){
            var value = that.value();
            //console.log(value)
            //alert(value)
            showList(value)
        }, 500)
        
    })

    $('#selall').click(function(){
        var listView = $("#listView").data("kendoListView");
        listView.select(listView.element.children());
    })


    $('#pass').click(function(){
        if(window.selectIdList.length == 0){
            return
        }
        var ids = window.selectIdList.join(',')
        $.post('/manger/voteItem/pass', {
            ids:ids
        }, function(d){
            if(d.error == 1){
                return alert(d.data)
            }
            else{
                var listView = $("#listView").data("kendoListView");
                listView.dataSource.read();
            }
        },'json')

        return false;
    })

    $('#stop').click(function(){
        if(window.selectIdList.length == 0){
            return
        }
        var ids = window.selectIdList.join(',')
        $.post('/manger/voteItem/stop', {
            ids:ids
        }, function(d){
            if(d.error == 1){
                return alert(d.data)
            }
            else{
                var listView = $("#listView").data("kendoListView");
                listView.dataSource.read();
            }
        },'json')

        return false;
    })




    var showList = function(groupId){


        window.appd;
        var DataHost = window.DataHost,
            dataSource = new kendo.data.DataSource({
                type: "json",
                serverPaging: true,
                serverSorting: true,
                batch: true,
                pageSize: 15,
                serverFiltering:true,
                filter: [
                    { field: "isShow", operator: "eq", value: 0 },
                    { field: "groupId", operator: "eq", value: groupId }
                ],
                transport: {
                    read:  {
                        url: DataHost + "/manger/voteItem/read",
                        type: "post"
                    }
                },
                schema: {
                    total: "Total",
                    data: "Data",
                    model: {
                        id:"_id",
                        fields: {
                            "_id": { editable: false },
                            "appId":{ editable: true },
                            "voteId":{ editable: true },
                            "groupId":{ editable: true },

                            "title": { editable: true },
                            "pictureThumb": { editable: true },
                            "picture": { editable: true },
                            "sex": { editable: true, type: "number"}, 
                            "age": { editable: true, type: "number"}, 
                            "number": { editable: true},
                            "desc": { editable: true},
                            "desc2": { editable: true}, 

                            "todayVoteNumber": { editable: true, type: "number"}, 
                            "lastdayVoteNumber": { editable: true, type: "number"}, 
                            "lastdayVoteOrder": { editable: true, type: "number"}, 
                            "isFreez": { editable: true, type: "number"}, 
                  
                            "code1": { editable: true },
                            "code2": { editable: true },
                            "code3": { editable: true },
                            "code4": { editable: true },

                            "totalCount": { editable: false },
                            
                            "isShow": { editable: true, type: "number"},
                            "writeTime": {editable: true, type: "date" },
                        }
                    }
                }
            });


             $("#pager").kendoPager({
                dataSource: dataSource
            });       

             $("#listView").kendoListView({
                dataSource: dataSource,
                selectable: "multiple",
                dataBound: onDataBound,
                change: onChange,
                template: kendo.template($("#template").html())
            });

               function onDataBound() {
                console.log("ListView data bound");
            }

            window.selectIdList = []
            function onChange() {
                var data = dataSource.view(),
                    selected = $.map(this.select(), function(item) {
                        return data[$(item).index()]._id;
                    });
                window.selectIdList = selected

            }

}



})


</script>
<% include inc/foot %>
