<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l hide">
                <label for="_id">投票id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r hide"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>

             <div class="k-edit-label  w-800-l">
                <label for="appId" >开发商</label>
            </div>
            <div data-container-for="appId" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="appId" data-bind="value:appId">
            </div>

             <div class="k-edit-label  w-800-l">
                <label for="ename" >唯一英文标识</label>
            </div>
            <div data-container-for="ename" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="ename" data-bind="value:ename" data-required-msg="请填写唯一英文标识" aria-invalid="true">
               <br/>
               <span>
                唯一英文标识,所有活动唯一，英文数字组成，例如：voteName_201405015 这样
               </span>
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="title" >投票标题</label>
            </div>
            <div data-container-for="title" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="title" data-bind="value:title" data-required-msg="请填写活动标题" aria-invalid="true">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="interval">投票间隔</label>
            </div>
            <div data-container-for="interval" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="interval" data-bind="value:interval" required="required" data-required-msg="请填写投票间隔" aria-invalid="true">
               <br/>
               <span>
                投票的间隔时间，单位是小时，如设置用户每天只可以投票3次，并且对每个投票项只能投1次，则此处填入24，下面间隔次数填入3，再下面每投票项限制数量填入1
                <br/>
                当填入的小时数超过或等于24小时，则按照自然天计算
               </span>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="intervalTimes">间隔时间内投票次数</label>
            </div>
            <div data-container-for="intervalTimes" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="intervalTimes" data-bind="value:intervalTimes" required="required" data-required-msg="请填写间隔" aria-invalid="true">
               <br/>
               <span>
                投票的间隔时间内，一个用户可以投票的总次数，填入-1或0表示不限制
               </span>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="intervalPerUserTimes">被投票项次数限制</label>
            </div>
            <div data-container-for="intervalPerUserTimes" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="intervalPerUserTimes" data-bind="value:intervalPerUserTimes" required="required" data-required-msg="请填写抽奖间隔" aria-invalid="true">
               <br/>
               <span>
                投票间隔时间内，一个用户对一个被投票项可投票的次数，-1或0表示不限制
               </span>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="forwardTimes">转发增加投票次数</label>
            </div>
            <div data-container-for="forwardTimes" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="forwardTimes" data-bind="value:forwardTimes" required="required" aria-invalid="true">
               <br/>
               间隔时间内，转发投票活动，可以增加的投票次数，-1或0表示没有增加，大于0的整数表示用户转发之后可以增加的次数
               <br/>
               新增加的次数，同样适用于被投票项次数限制，但是重新计算。比如有活动用户可以对某一个人每天投票一次，转发后，用户增加了投票次数，可以再对那个人投票一次。
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="startTime">开始时间</label>
            </div>
            <div data-container-for="startTime" class="k-edit-field w-800-r">
               <input type="text" id="stime" class="k-input k-textbox " name="startTime" data-bind="value:startTime" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="endTime">结束时间</label>
            </div>
            <div data-container-for="endTime" class="k-edit-field w-800-r">
               <input type="text" id="etime" class="k-input k-textbox " name="endTime" data-bind="value:endTime" >
            </div>

            

            <div name="img_div" class="k-edit-label  w-800-l">
                <label for="picture">投票宣传图片</label>
            </div>
            <div name="img_div" data-container-for="picture" class="k-edit-field w-800-r">
                <input type="file" name="upload_file" id="upload_file">
                 <input type="text"  class="k-input k-textbox" style="display:none;" id="appPicture_inp" name="picture" data-bind="value:picture">
            </div>
          



            <div class="k-edit-label  w-800-l">
                <label for="descShort" >规则简述</label>
            </div>
            <div data-container-for="descShort" class="k-edit-field w-800-r">
               <textarea id="intro2" type="text" class="k-input k-textbox w-90-inp" name="descShort" data-bind="value:descShort"></textarea>
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="desc" >活动描述</label>
            </div>
            <div data-container-for="desc" class="k-edit-field w-800-r">
               <textarea id="intro" type="text" class="k-input k-textbox w-90-inp" name="desc" data-bind="value:desc"></textarea>
            </div>
<div style="display:none">
            
            <div class="k-edit-label  w-800-l">
                <label for="code1" >备用1</label>
            </div>
            <div data-container-for="code1" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code1" data-bind="value:code1" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="code2" >备用2</label>
            </div>
            <div data-container-for="code2" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code2" data-bind="value:code2" >
            </div>
            <div class="k-edit-label  w-800-l">
                <label for="code3" >备用3</label>
            </div>
            <div data-container-for="code3" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code3" data-bind="value:code3" >
            </div>
            <div class="k-edit-label  w-800-l">
                <label for="code4" >备用4</label>
            </div>
            <div data-container-for="code4" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="code4" data-bind="value:code4" >
            </div>
</div> 

            <div class="k-edit-label  w-800-l">
                <label for="isShow">是否启用</label>
            </div>
            <div data-container-for="isShow" class="k-edit-field w-800-r">
               <input type="number" id="isShow_inp" class="k-input k-textbox" name="isShow" data-bind="value:isShow" >
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime_inp" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>

           

        </script>


<script>

 $(function () {
                window.appd;
     
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/vote/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/vote/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/vote/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/vote/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "appId":{ editable: true },
                                    "ename": { editable: true },
                                    "interval":{editable: true, type: "number"},
                                    "intervalTimes":{editable: true, type: "number"},
                                    "intervalPerUserTimes":{editable: true, type: "number"},
                                    "forwardTimes":{ editable: true , type: "number"},

                                    "title": { editable: true },
                                    "picture": { editable: true },
                                    "descShort": { editable: true },
                                    "desc": { editable: true },
                     
                                    "startTime":{editable: true, type: "date"},
                                    "endTime":{editable: true, type: "date"},
                                    
                                    "code1": { editable: true },
                                    "code2": { editable: true },
                                    "code3": { editable: true },
                                    "code4": { editable: true },

                                    "isShow": { editable: true, type: "number"},
                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });


                var toolbarAry = [];
                var commandAry = [];
 
                    var toolbarAry = [
                                { name: "create", text: "添加投票" }
                              ]

        
                    var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]


$.post('/manger/app/getList',{},function(data_ary){
                var d = []
                data_ary.forEach(function(v){
                    d.push({
                        text: v.appName, 
                        value:v._id
                    })
                })

                window.appd = d;


                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,
                    columns: [
                        {
                            field:'_id',
                            title:'活动Id',
                            hidden:true
                        },
                        { 
                            field: "appId",
                            title: "开发商",
                            values: d
                        },
                        { 
                            field: "ename",
                            title: "唯一标识", 
                        },
                        { 
                            field: "interval",
                            title: "间隔小时", 
                            hidden:true
                         },
                         { 
                            field: "intervalTimes",
                            title: "间隔次数", 
                            hidden:true
                         },
                         { 
                            field: "intervalPerUserTimes",
                            title: "间隔每项可被投票数", 
                            hidden:true
                         },
                         { 
                            field: "forwardTimes",
                            title: "转发增加次数", 
                            hidden:true
                         },
                         { 
                            field: "title",
                            title: "活动标题", 
                         },
                         { 
                            field: "picture",
                            title: "活动宣传图片", 
                            hidden:true
                         },
                         { 
                            field: "descShort",
                            title: "规则简述", 
                            hidden:true
                         },
                         { 
                            field: "desc",
                            title: "活动描述", 
                            hidden:true
                         },

                         { 
                            field: "startTime",
                            title: "开始时间",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { 
                            field: "endTime",
                            title: "结束时间",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { 
                            field: "code1",
                            title: "备用字段1", 
                            hidden:true
                         },
                         { 
                            field: "code2",
                            title: "备用字段2", 
                            hidden:true
                         },
                         { 
                            field: "code3",
                            title: "备用字段3", 
                            hidden:true
                         },
                         { 
                            field: "code4",
                            title: "备用字段4", 
                            hidden:true
                         },
                        { 
                            field: "isShow",
                            title: "是否启用", 
                            values:window.is_show_array
                        },                   
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}",
                            hidden:true
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                        filterable:window.filter_obj,
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');
                    
                        multiUpload($("#upload_file"), $('#appPicture_inp'), 1)
                        
                        window.dropdown_init($("#appId_inp"), d)

                         $('#writeTime_inp').kendoDateTimePicker();
                         $('#stime').kendoDateTimePicker();
                         $('#etime').kendoDateTimePicker();
                         
                            
                         $("#intro").kendoEditor({
                                tools: window.editor_tools,
                                messages: window.editor_messages
                         });  
                         $("#intro2").kendoEditor({
                                tools: window.editor_tools,
                                messages: window.editor_messages
                         });

                         

                         window.dropdown_init()

                    }
                    
                });

    })         
                                    
});










</script>
<% include inc/foot %>
