<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="telephone=no" name="format-detection"></meta>
<meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"></meta>
<meta content="no-cache" http-equiv="Pragma"></meta>
<meta content="no-cache" http-equiv="Cache-Control"></meta>
<meta content="0" http-equiv="Expires"></meta>

<script src="http://wzzy2014skin.qiniudn.com/js/jquery.1.11.1.min.js" type="text/javascript"></script>
<script src="http://wzhfile.qiniudn.com/jquery.cookie.js"  type="text/javascript"></script>

<script src="http://wzhfile.qiniudn.com/moment.js" type="text/javascript"></script>

		<style>
		* {
margin: 0;
padding: 0;
}

	.zhichi {
			width: 100%;
			text-align: center;
			position:absolute;
			color: #777;
			bottom: 13px;
			font-size:0.6em;
			z-index: 1000000;
		}
		</style>
	<%- newrelic.getBrowserTimingHeader() %>
<title>
     印象·东方之门|随手拍 拿大奖
</title>	
	</head>
		
	<body style="background: #000000;">

	
		<a href="http://menu.xy-tang.com/active/xinyutang?ename=yy_vote"><img src="http://bcs.duapp.com/xytimg/dfzm%2Findex.jpg" width="100%" alt="" />
		</a>
		
		<div class="zhichi">
			技术支持：信玉堂
		</div>

	
	
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/xinyutang/jsconfig?url=<%= jsurl %>" type="text/javascript"></script>
	
<!--	
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
<script src="/api/xinyutang/jsconfig" type="text/javascript"></script>-->

<script>

$(function(){

	
	//部署上生产环境，把alert去掉

	if(window.jsticket_error=='1'){
	//	alert('微信jsdk config加载出错')
	//	alert(window.jsconfig)
	}
	if(window.jsticket_error=='0'){
			$('#config').html(JSON.stringify(window.jsconfig))

			wx.config(window.jsconfig);
			wx.ready(function(){

			    // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
			  //  alert('wx jsdk ready')


			    wx.onMenuShareTimeline({
				
	   

			
			title: '印象·东方之门|随手拍 拿大奖', // 分享标题
                    link: 'http://menu.xy-tang.com/static/yy_vote/index.html', // 分享链接
                    imgUrl: 'http://bcs.duapp.com/xytimg/dfzm%2Fdfzmlogo.jpg', // 分享图标
			
			
			
			
			
			
				    trigger:function(){
				    	$('#action').append('<p>成功点击分享到朋友圈</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成分享到朋友圈</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功分享到朋友圈</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>用户取消分享到朋友圈</p>')
				    }
				});

				wx.onMenuShareAppMessage({
			
	  title: '印象·东方之门|随手拍 拿大奖', // 分享标题
                    desc: '随手拍 拿大奖', // 分享描述
                    link: 'http://menu.xy-tang.com/static/yy_vote/index.html', // 分享链接
                    imgUrl: 'http://bcs.duapp.com/xytimg/dfzm%2Fdfzmlogo.jpg', // 分享图标
					type: 'link', // 分享类型,music、video或link，不填默认为link
				    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
				    trigger:function(){
				    	$('#action').append('<p>成功点击发送给朋友</p>')
				    },
				    complete:function(){
				    	$('#action').append('<p>完成发送给朋友</p>')
				    },
				    success: function () { 
				        // 用户确认分享后执行的回调函数
				        $('#action').append('<p>成功发送给朋友</p>')
				    },
				    cancel: function () { 
				        // 用户取消分享后执行的回调函数
				        $('#action').append('<p>取消发送给朋友</p>')
				    }
				});



			    wx.checkJsApi({
				    jsApiList: ['chooseImage'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
				    success: function(res) {
				    	//alert(JSON.stringify(res))
				        // 以键值对的形式返回，可用的api值true，不可用为false
				        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
				    }});

			});
			wx.error(function(res){

			    // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
			//    alert('wx.error config出错')
			//    alert(JSON.stringify(res))
			});

			

	}




})


</script>
<div style="display:none">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd5dfbf4c48c3280b4cf4ca0f43407d09' type='text/javascript'%3E%3C/script%3E"));
</script>

</div> 
	</body>

</html>