    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

                  <li class="nav-header">系统设置</li>
                  <li><a href="/manger/admin/list">管理员</a></li>
                  <li><a href="/manger/app/list">应用管理</a></li>

                  <li class="nav-header">用户管理</li>
                  <li><a href="/manger/user/list">用户信息</a></li>
                  <li><a href="/manger/userbind/list">用户状态</a></li>
                  <li><a href="/manger/userbindcheck/list">用户审核</a></li>

                  <li><a href="/manger/recrecord/list">推荐信息</a></li>
                  <li><a href="/manger/transac/list">申请结佣</a></li>

                  <li class="nav-header">新闻和活动</li>
                  <li><a href="/manger/news/list">新闻公告</a></li>

                  <li class="nav-header">微信设置</li>
                  <li><a href="/manger/reply/list">微信图文回复</a></li>
                  <li><a href="/manger/menu/list">自定义菜单</a></li>
                  

            </ul>
          </div><!--/.well -->
        </div><!--/span--> 
        <div class="span10">