<% include inc/head %>
<%
  var title = '物业服务'
%>
<% include inc/top %>


  <div data-role="content" class="inside_box fw">
    <div id="wrapper" class="wrapper2">
      <div id="scroller" class="e-scroller">
        <ul id="thelist" class="thelist">
          <li class="service_li">
              <a href="/view/service/coservice?type=1&coId=<%= coId %>&wxuserid=<%= userObj._id %>" target="_blank">
                <img src="/static/images/s_cost.jpg" class"co_list_img" />
                <p class="txt_c">查看详细收费物业服务</p>
              </a>
          </li>
          <li class="service_li">
            <a href="/view/service/coservice?type=2&coId=<%= coId %>&wxuserid=<%= userObj._id %>" target="_blank">
              <img src="/static/images/s_free.jpg" class"co_list_img" />
              <p  class="txt_c">查看详细免费物业服务</p>
            </a>
          </li>
        </ul>
       
        
 <% include inc/footPowerBy %> 
 
      </div>
    </div>
  </div>
 


<% include inc/foot %>
