<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l">
                <label for="_id">内容id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="appId" >开发商</label>
            </div>
            <div data-container-for="appId" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="appId" data-bind="value:appId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="coId" >小区</label>
            </div>
            <div data-container-for="coId" class="k-edit-field w-800-r">
               <input type="text" id="coId_inp" class="k-input k-textbox w-50-inp" name="coId" data-bind="value:coId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="appNewsTitle" >标题</label>
            </div>
            <div data-container-for="appNewsTitle" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="appNewsTitle" data-bind="value:appNewsTitle" required="required" data-required-msg="请填写商品名称" aria-invalid="true">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="appNewsType" >类型</label>
            </div>
            <div data-container-for="appNewsType" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="appNewsType" data-bind="value:appNewsType" required="required" id="appNewsType_inp" data-required-msg="请填写商品价格" aria-invalid="true">
            </div>

          

            <div class="k-edit-label  w-800-l">
                <label for="appNewsPicture">图片</label>
            </div>
            <div data-container-for="appNewsPicture" class="k-edit-field w-800-r">
                <input type="file" name="upload_file" id="upload_file">
                 <input type="text"  class="k-input k-textbox" style="display:none;" id="appPicture_inp" name="appNewsPicture" data-bind="value:appNewsPicture">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="appNewsPicture"></label>
            </div>
            <div data-container-for="appNewsPicture" class="k-edit-field w-800-r">
            <a href="" id="thumba" target="_blank">
               <img  id="thumb" class="thumb"/>
            </a>
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="appNewsContent" >内容</label>
            </div>
            <div data-container-for="appNewsContent" class="k-edit-field w-800-r">
               <textarea id="intro" type="text" class="k-input k-textbox w-90-inp" name="appNewsContent" data-bind="value:appNewsContent"></textarea>
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="isShow">是否启用</label>
            </div>
            <div data-container-for="isShow" class="k-edit-field w-800-r">
               <input type="number" id="isShow_inp" class="k-input k-textbox" name="isShow" data-bind="value:isShow" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>

           

        </script>


<script>


 $(function () {
    var ary=[];
    window.news_type.forEach(function(v,i){
        if(i==0) return;
        ary.push(v)
    })
    window.news_type = ary;

                var toolbarAry = [
                                { name: "create", text: "添加内容" }
                              ]
                var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]
                                           
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                        filter: [
                            { field: "appNewsType", operator: "neq", value: 1 }
                        ],
                        transport: {
                            read:  {
                                url: DataHost + "/manger/news/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/news/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/news/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/news/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "appId": { editable: true },
                                    "coId": { editable: true },
                                    "appNewsTitle": { editable: true },
                                    "appNewsContent": { editable: true},
                                    "appNewsPicture": { editable: true},
                                    "appNewsType": { editable: true,type:'number' },
                                    "isShow": { editable: true, type:'number' },
                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });

                

$.post('/manger/app/getList',{},function(data_ary){
                var d = []
                data_ary.forEach(function(v){
                    d.push({
                        text: v.appName, 
                        value:v._id
                    })
                })

 $.post('/manger/co/getList',{},function(data_ary2){
                var d2 = [{
                        text:'不属于小区',
                        value:'0'
                    }]

                data_ary2.forEach(function(v){
                    d2.push({
                        text: v.coName, 
                        value:v._id
                    })
                })

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,
                    detailInit: detailInit,
                    columns: [
                        {
                            field:'_id',
                            title:'内容id',
                            hidden:true
                        },
                        { 
                            field: "appId",
                            title: "开发商", 
                            values:d
                        },
                        { 
                            field: "coId",
                            title: "小区", 
                            values:d2
                        },
                         { 
                            field: "appNewsTitle",
                            title: "标题", 
                        },
                         { 
                            field: "appNewsContent",
                            title: "内容",
                            hidden:true
                        },
                         { 
                            field: "appNewsPicture",
                            title: "图片",
                            template: "<img src='#=appNewsPicture#' width=50 height=50/>",
                             hidden:true
                        },
                         { 
                            field: "appNewsType",
                            title: "类型",
                             values:window.news_type,
                             filterable:false,
                        },
                        { 
                            field: "isShow",
                            title: "是否启用", 
                            values:window.is_show_array
                        },            
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');

                         $("#intro").kendoEditor({
                                tools: window.editor_tools,
                                messages: window.editor_messages
                         });              

                         var maxFiles = 1;
                         $("#upload_file").kendoUpload({
                                async: {
                                    saveUrl: "/manger/upload/save",
                                    removeUrl: "/manger/upload/remove",
                                    autoUpload: true
                                },
                                success:function(e){
                                    var path = e.response.result;
                                    
                                    $('#thumb').prop('src',path);
                                    $('#thumba').prop('href', path)
                                    $('#appPicture_inp').val(path).change()
                                },
                                localization:{
                                    select: '请选择图片',
                                    remove: '',
                                    cancel: '',
                                    done:'完成'
                                },
                                select: function(e) {
                                    var len = $('span.k-filename').length;
                                    if(len >= maxFiles) {
                                      e.preventDefault();
                                      alert("最多上传: " + maxFiles+ ' 张图片');
                                    }
                                  }
                            });

                        $('#writeTime').kendoDateTimePicker();
                        var filepath = $('#appPicture_inp').val();
                         $('#thumb').prop('src',filepath);
                         $('#thumba').prop('href', filepath)

                        window.dropdown_init()
                        window.dropdown_init($("#appId_inp"), d)
                        window.dropdown_init($("#coId_inp"), d2)
                        window.dropdown_init($("#appNewsType_inp"), window.news_type)

                       

                    },
                    filterable:window.filter_obj         
                });

            })
                
      })





//报名活动
//code1 表示活动id
//code2 表示真实姓名
//code3 表示手机号码
//code2 表示参加人数

function detailInit(e) {
window.lastData = e.data

var cellobj = $("<div/>").appendTo(e.detailCell)

var commandAry = [
            { name: "destroy", text: "删除"},
          ]



window.buttonCreate = function(){
      return '<a class="k-button" href="javascript:;" id="toolbar-add_user" onclick="downloadMenbers()">下载名单</a>'
 };


window.downloadMenbers = function(e2){

        alert(window.lastData._id)
        return false;
    }

var dataSource2 = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 5,
                        serverFiltering:true,
                        filter: { field: "scoreCode1", operator: "eq", value: e.data._id },
                        transport: {
                            read:  {
                                        url: DataHost + "/manger/score/read",
                                        type: "post"
                                    },
                                    update: {
                                        url: DataHost + "/manger/score/update",
                                        type: "post",
                                        complete: function(e) {
                                                    cellobj.data("kendoGrid").dataSource.read(); 
                                            }
                                    },
                                     destroy: {
                                        url: DataHost + "/manger/score/destroy",
                                        type: "post"
                                    },
                                    create: {
                                        url:DataHost + "/manger/score/create",
                                        type: "post",
                                        complete: function(e) {
                                                    cellobj.data("kendoGrid").dataSource.read(); 
                                            }
                                    }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                     "_id": { editable: false },
                                     userId:{ editable: false},//此用户在数据库中的_id
                                     userMobile:{ editable: false},
                                     userSex:{ editable: false },
                                     openId:{ editable: false,},
                                     appId:{ editable: false },
                                     scoreGuid:{ editable: false},
                                     scoreDetail:{ editable: false, type:"number" },
                                     scoreType:{ editable: false ,type:"number"},
                                     scoreWay:{ editable: false },
                                     scoreCode1:{ editable: false },
                                     scoreCode2:{ editable: false },
                                     scoreCode3:{ editable: false },
                                     scoreCode4:{ editable: false },
                                     scoreCode5:{ editable: false },
                                     "writeTime": {editable: false, type: "date" },
                                }
                            }
                        }
                    });
       

                    cellobj.kendoGrid({
                        dataSource:dataSource2, 
                        scrollable: false,
                        sortable: true,
                        pageable: true,
                        toolbar: [
                                    {
                                            name:'download',
                                            template:'#= buttonCreate()#'
                                    }
                                  ],
                   columns: [
                        {
                            field:'_id',
                            title:'获取积分id',
                            hidden:true
                        },
                        { 
                            field: "scoreGuid",
                            title: "流水号", 
                        },
                        { 
                            field: "appId",
                            title: "开发商", 
                            values:window.appd,
                            hidden:true
                        },
                         { 
                            field: "openId",
                            title: "微信id", 
                        },
                        { 
                            field: "scoreCode2",
                            title: "报名人", 
                        },                
                        { 
                            field: "scoreCode3",
                            title: "报名人电话", 
                        }, 
                        
                        { 
                            field: "scoreCode4",
                            title: "参加人数", 
                        },     
                         { 
                            field: "scoreDetail",
                            title: "获取积分数", 
                        },
                        { 
                            field: "scoreType",
                            title: "积分增减",
                            values:[
                              { text: "获取", value: 1 },
                              { text: "消费", value: 0 }
                            ],
                            filterable:false,
                            hidden:true
                        },
                        { 
                            field: "scoreWay",
                            title: "获取方式",
                            hidden:true
                        },
                        { 
                            field: "scoreCode1",
                            title: "积分码1",
                            hidden:true
                        },
                        { 
                            field: "scoreCode2",
                            title: "积分码2",
                            hidden:true
                        },
                        { 
                            field: "scoreCode3",
                            title: "积分码3",
                            hidden:true
                        },
                        { 
                            field: "scoreCode4",
                            title: "积分码4",
                            hidden:true
                        },
                        { 
                            field: "scoreCode5",
                            title: "积分码5",
                            hidden:true
                        },
                        { 
                            field: "writeTime",
                            title: "报名日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                        filterable:false,
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        //template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                            }
                        }, 
                    edit:function(e2){
                           
                  
                           }  
                    });
                }


   

});

</script>
<% include inc/foot %>
