<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
     
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/client/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/client/update",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/client/create",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/client/destroy",
                                type: "post"
                            }
                        },
                       
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "authorId": {editable: true,validation: { required: true}},
                                    "clientKey": {editable: false },
                                    "userName": {editable: true,validation: { required: true} },
                                    "password": {editable: true ,validation: { required: true}},
                                    "desc":{editable: true,validation: { required: true} },
                                    "writeTime": {editable: false ,type: "date"}
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 500,
                    toolbar: ["create"],
                    columns: [
                        { 
                            field: "_id",
                            title: "clientId", 
                        },
                        { 
                            field: "clientKey",
                            title: "clientKey", 
                        },
                        { 
                            field: "userName",
                            title: "后台用户名", 
                        },
                        { 
                            field: "password",
                            title: "后台密码", 
                        },
                        { 
                            field: "authorId",
                            title: "权限ID", 
                        },
                        { 
                            field: "desc",
                            title: "描述" 
                        },
                        { 
                            field: "writeTime",
                            title: "添加时间"
                        },{ command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    filterable:true         
                });
                           

         
});

</script>
<% include inc/foot %>
