<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid">
 	<a href="/manger/form/list" class="btn btn-large btn-primary" >全部表单</a>
 	<% nameArray.forEach(function(formname){ %>
            <a href="/manger/form/list?formname=<%= formname %>" class="btn btn-large btn-primary" ><%= formname %></a>
     <% }) %>


 </div>
<% include inc/foot %>
