<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/lotteryPrize/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/lotteryPrize/update",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/lotteryPrize/create",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/lotteryPrize/destroy",
                                type: "post"
                            }
                        },
                        schema: {
                        	total: "Total",
                           	data: "Data",
                            model: {
                        	    id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "clientId": { editable: true, validation: { required: true}},
                                    "lotteryId": { editable: true,validation: { required: true} },
                                    "name": { editable: true, validation: { required: true} },
                                    "desc":{editable: true},
									"imgUrl":{editable: true},
									"price":{editable: true,type:"number",validation: { required: true} },
                                    "totalNumber":{ editable: true,type:"number",validation: { required: true} },
                                    "rate":{ editable: true,type:"number",validation: { required: true} },
                                    "priceNum":{ editable: true,type:"number",validation: { required: true} },
                                    "countNum":{ editable: true,type:"number",validation: { required: true} },
                                    "isShow":{ editable: true,type:"number",validation: { required: true} },
									"writeTime":{editable: true,type: "date" },
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 2000,
                    toolbar: ["create"],
                    columns: [
                        { 
							field: "_id",
							title: "奖品id", 
						},
						{ 
							field: "clientId",
							title: "商业用户", 
						},
						{ 
							field: "lotteryId",
							title: "抽奖活动", 
						},
						{ 
							field: "name",
							title: "奖品名称" 
						},
						{ 
							field: "imgUrl",
							title: "奖品图片" 
						},
                        {
                            field: "desc",
                            title: "奖品描述" 
                        },
						{ 
							field: "price",
							title: "奖品价格" 
						},				
                        { 
                            field: "totalNumber",
                            title: "奖品总数量" 
                        },
                        { 
                            field: "rate",
                            title: "中奖概率" 
                        },
                        { 
                            field: "priceNum",
                            title: "下次中奖数" 
                        },
                        { 
                            field: "countNum",
                            title: "被抽中数" 
                        },			
                        { 
                            field: "isShow",
                            title: "是否显示" 
                        },                       	
						{ 
							field: "writeTime",
							title: "写入时间"
						},
						{ command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    filterable:true,
                    edit:function(e){

                    	$.post(DataHost + '/manger/client/read', {skip:0, pageSize:1000}, function(d){
                    		var d = d.Data;
                    		d.unshift({"_id":"","desc":"选择商业用户"})
	                    	$('input[name="clientId"]').kendoDropDownList({
		                        dataTextField: "desc",
		                        dataValueField: "_id",
		                        dataSource: d
	                    	});

	                    }, 'json');

                        $.post(DataHost + '/manger/lottery/getLotteryList', {skip:0, pageSize:1000}, function(d2){
                            var d2 = d2;
                            d2.unshift({"_id":"","title":"选择抽奖活动"})
                            $('input[name="lotteryId"]').kendoDropDownList({
                                dataTextField: "title",
                                dataValueField: "_id",
                                dataSource: d2
                            });
                        }, 'json');
                        
                        var Data = [
                                { text: "请选择", val:'' },
                                { text: "显示", val: 1 },
                                { text: "不显示", val: 0 },
                            ];

                            // create DropDownList from input HTML element
                            $('input[name="isShow"]').kendoDropDownList({
                                dataTextField: "text",
                                dataValueField: "val",
                                dataSource: Data
                            });
                   	
  	                }		
                });
									
});

</script>
<% include inc/foot %>
