<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 			var customers;
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/lottery/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/lottery/update",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/lottery/create",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/lottery/destroy",
                                type: "post"
                            }
                        },
                        schema: {
                        	total: "Total",
                           	data: "Data",
                            model: {
                        	    id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "clientId": { editable: true, validation: { required: true}},
                                    "title": { editable: true,validation: { required: true} },
									"desc":{editable: true },
                                    "startTime":{editable: true,type: "date",validation: { required: true} },
									"endTime":{ editable: true,type: "date",validation: { required: true} },
									"interval":{ editable: true,type:"number",validation: { required: true} },
									"intervalTimes":{ editable: true,type:"number",validation: { required: true} },
									"prizePoolInterval":{ editable: true,type:"number",validation: { required: true} },
									"writeTime":{ editable: true,type: "date" },
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 2000,
                    toolbar: ["create"],
                    columns: [
                        { 
							field: "_id",
							title: "抽奖id", 
						},
						{ 
							field: "clientId",
							title: "商业用户", 
						},
						{ 
							field: "title",
							title: "标题", 
						},
						{ 
							field: "desc",
							title: "描述" 
						},
						{ 
							field: "startTime",
							title: "开始时间" 
						},					
						{ 
							field: "endTime",
							title: "结束时间"
						},
						{ 
							field: "interval",
							title: "间隔"
						},
						{ 
							field: "intervalTimes",
							title: "间隔可抽奖次数"
						},
						{ 
							field: "prizePoolInterval",
							title: "奖池更新间隔",
						},
						{ 
							field: "writeTime",
							title: "写入时间",
						},
						{ command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    filterable:true,
                    edit:function(e){


	                    	$.post(DataHost + '/manger/client/read', {skip:0, pageSize:1000}, function(d){
	                    		var d = d.Data;
	                    		d.unshift({"_id":"","desc":"选择商业用户"})
		                    	$('input[name="clientId"]').kendoDropDownList({
			                        dataTextField: "desc",
			                        dataValueField: "_id",
			                        dataSource: d
		                    	});
		                    }, 'json');
		                    	
	                		var intervalData = [
	                			{ text: "请选择", day: '' },
		                        { text: "1天", day: 86400000 },
		                        { text: "2天", day: 86400000*2 },
		                        { text: "3天", day: 86400000*3 },
		                        { text: "4天", day: 86400000*4 },
		                        { text: "5天", day: 86400000*5 },
		                        { text: "6天", day: 86400000*6 },
		                        { text: "7天", day: 86400000*7 },
		                        { text: "15天", day: 86400000*15 },
		                        { text: "永不更新", day: 86400000*365*99 },
		                    ];

		                    // create DropDownList from input HTML element
		                    $('input[name="interval"]').kendoDropDownList({
		                        dataTextField: "text",
		                        dataValueField: "day",
		                        dataSource: intervalData
		                    });

		                    var intervalData2 = [
		                        { text: "请选择", day: '' },
		                        { text: "1小时", day: 1000*3600 },
		                        { text: "2小时", day: 1000*3600*2 },
		                        { text: "4小时", day: 1000*3600*4 },
		                        { text: "8小时", day: 1000*3600*8 },
		                        { text: "12小时", day: 1000*3600*12 },
		                        { text: "1天", day: 86400000*1 },
		                        { text: "2天", day: 86400000*2 },
		                        { text: "3天", day: 86400000*3 },
		                        { text: "7天", day: 86400000*7 },
		                        { text: "15天", day: 86400000*15 },
		                         { text: "永不更新", day: 86400000*365*99 },
		                    ];

		                    // create DropDownList from input HTML element
		                    $('input[name="prizePoolInterval"]').kendoDropDownList({
		                        dataTextField: "text",
		                        dataValueField: "day",
		                        dataSource: intervalData2
		                    });
		                    
	                    }		
                });
									
});

</script>


<style scoped>
.dropdown-header {
    font-size: 1.2em;
}

.dropdown-header > span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .3em .6em;
    width: 312px;
}

.dropdown-header > span:first-child {
    width: 82px;
    border-left-width: 0;
}

.demo-section {
    width: 400px;
    margin: 30px auto 50px;
    padding: 30px;
}
.demo-section h2 {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.tag-image {
    width: auto;
    height: 18px;
    margin-right: 5px;
    vertical-align: top;
}
#customers-list {
    padding-bottom: 26px;
}

#customers-list .k-item > span{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-style: solid;
    border-width: 0 0 1px 1px;
    vertical-align: top;
    min-height: 95px;
    width: 79%;
    padding: .6em 0 0 .6em;
}

#customers-list .k-item > span:first-child{
    width: 77px;
    border-left-width: 0;
    padding: .6em 0 0 0;
}

#customers-list img {
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.4);
    box-shadow: 0 0 2px rgba(0,0,0,.4);
    width: 70px;
    height: 70px;
}

#customers-list h3 {
    font-size: 1.6em;
    margin: 0;
    padding: 0;
}

#customers-list p {
    margin: 0;
    padding: 0;
}
.k-grid .k-button, .k-edit-form-container .k-button {
margin: 0.2em .16em;
}
.k-multiselect-wrap li {
padding: .1em 1.15em .1em .4em;
position: relative;
}
.k-item{
	bottom:#fff 1px solid !important;
}
.k-item > span {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: inline-block;

vertical-align: top;
min-height: 95px;
width: 50%;
padding: .6em 0 0 .6em;
overflow: hidden;
}

</style>

<% include inc/foot %>
