<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/platUser/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/platUser/update",
                                type: "post"
                            },
                             destroy: {
                                url: DataHost + "/manger/platUser/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/platUser/create",
                                type: "post"
                            }
                        },
                        schema: {
                        	total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "mobile": { editable: true,validation: { required: true}},
									"password": { editable: true,validation: { required: true} },
									"salt": { editable: true,validation: { required: true}},
									"userName": { editable: true },
									"nickName":{editable: true },
                                    "regTime": {editable: true, type: "date"},
                                    "regIp": {editable: true },
                                    "loginTimes":{editable: true,type: "number" },
									"agent":{ editable: true },
									"lastLoginTime":{editable: true,type: "date"},
									"bindingAppUserId": {editable: true,type: "string" },
									"clientId": {editable: true,type: "string" },				
                                }
                            }
                        }
                    });

                var toolbarAry = [];
                var commandAry = [];
                <% if (session.isWidgetAdmin) { %>
                    var toolbarAry = ["create"];
                    var commandAry = ["edit", "destroy"];
                <% } %>

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 2000,
                    toolbar: toolbarAry,
                    columns: [
                        { 
							field: "_id",
							title: "用户id", 
						},
						{ 
							field: "mobile",
							title: "手机", 
						},
						{ 
							field: "password",
							title: "密码", 
						},
						{ 
							field: "salt",
							title: "salt", 
						},
						{ 
							field: "userName",
							title: "用户名", 
						},
						{ 
							field: "nickName",
							title: "昵称" 
						},
						{ 
							field: "regTime",
							title: "注册日期"
						},
						{ 
							field: "regIp",
							title: "注册ip"
						},
						{ 
							field: "loginTimes",
							title: "登录次数"
						},
						{ 
							field: "agent",
							title: "用户设备",
						},
						{ 
							field: "lastLoginTime",
							title: "上次登录时间",
						},
						{
							field:"bindingAppUserId",
							title: "绑定用户应用ID",
						},
						{
							field:"clientId",
							title: "所属商业客户",
						},
						{ command: commandAry, title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    edit:function(e){
	                   
                    },
                    filterable:true			
                });
									
});

</script>
<% include inc/foot %>
