<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/puzzleRecord/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/puzzleRecord/update",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/puzzleRecord/create",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/puzzleRecord/destroy",
                                type: "post"
                            }
                        },
                        schema: {
                        	total: "Total",
                           	data: "Data",
                           	parse:function(d){
                           		if(d && Array.isArray(d.Data)){
                           			d.Data = d.Data.map(function(v){
                           				v.detail = JSON.stringify(v.detail)
                           				return v;
                           			})
                           		}
                           		else if(d){
                           			d.detail = JSON.stringify(d.detail)
                           		}	
                           		return d;
                           	},
                            model: {
                        	    id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "clientId": { editable: true, validation: { required: true}},
                                    "puzzleId": { editable: true,validation: { required: true} },
                                    "userId": { editable: true,validation: { required: true} },
									"puzzleIp":{editable: true },
									"status":{editable: true,type:"number" },
                                    "startTime":{editable: true,type: "date",validation: { required: true} },
									"endTime":{ editable: true,type: "date" },
									"score":{ editable: true,type:"number" },
									"isPrize":{ editable: true,type:"number" },
									"detail":{ editable: true}

                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 2000,
                    toolbar: ["create"],
                    columns: [
                        { 
							field: "_id",
							title: "猜谜记录id", 
						},
						{ 
							field: "clientId",
							title: "商业用户", 
						},
						{ 
							field: "puzzleId",
							title: "猜图活动", 
						},
						{ 
							field: "userId",
							title: "用户id" 
						},
						{ 
							field: "puzzleIp",
							title: "猜图ip" 
						},
						{ 
							field: "status",
							title: "状态" 
						},				
						{ 
							field: "startTime",
							title: "开始时间" 
						},					
						{ 
							field: "endTime",
							title: "结束时间"
						},
						{ 
							field: "score",
							title: "成绩"
						},
						{ 
							field: "isPrize",
							title: "是否领奖"
						},
						{ 
							field: "detail",
							title: "详细"
						},
						{ command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    filterable:true,
                    edit:function(e){
                    	$.post(DataHost + '/manger/client/read', {skip:0, pageSize:1000}, function(d){
                    		var d = d.Data;
                    		d.unshift({"_id":"","desc":"选择商业用户"})
	                    	$('input[name="clientId"]').kendoDropDownList({
		                        dataTextField: "desc",
		                        dataValueField: "_id",
		                        dataSource: d
	                    	});
	                    }, 'json');
	                    	
  	                }		
                });
									
});

</script>
<% include inc/foot %>
