<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>

<script>
 $(function () {
	 
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                    	type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 20,
                        serverFiltering:true,
                        transport: {
                            read:  {
                                url: DataHost + "/manger/puzzleQuesstion/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/puzzleQuesstion/update",
                                type: "post"
                            },
                             create: {
                                url: DataHost + "/manger/puzzleQuesstion/create",
                                type: "post"
                            },
                            destroy: {
                                url:DataHost + "/manger/puzzleQuesstion/destroy",
                                type: "post"
                            }
                        },
                        schema: {
                            parse:function(d){
                                var data = d.Data || d;
                                data.map(function(v){
                                    v.tips = v.tips.join(',').replace("[","").replace("]","").replace(/"/g,"");
                                    v.key = v.key.join(',').replace("[","").replace("]","").replace(/"/g,"");
                                    v.tags = v.tags.join(',').replace("[","").replace("]","").replace(/"/g,"");
                                    return v;
                                });
                                return d;
                            },
                        	total: "Total",
                           	data: "Data",
                            model: {
                        	    id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "clientId":{editable: true,validation: { required: true}},
                                    "title": { editable: true,validation: { required: true}},
                                    "desc": { editable: true,validation: { required: true} },    
									"imgUrl":{editable: true,validation: { required: true} },
                                    "tips": {editable: true,validation: { required: true}},
                                    "key": {editable: true,validation: { required: true}},
                                    "level": {editable: true, type:"number",validation: { required: true} },
                                    "tags": {editable: true},
									"type":{editable: true, type:"number",validation: { required: true}},
									"writeTime":{editable: true,type:"date"},
                                }
                            }
                        }
                    });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: true,
                    pageable: true,
                    height: 2000,
                    toolbar: ["create"],
                    columns: [
                        { 
							field: "_id",
							title: "题目id", 
						},
                        { 
                            field: "clientId",
                            title: "商业用户", 
                        },
						{ 
							field: "title",
							title: "题目", 
						},
						{ 
							field: "desc",
							title: "描述", 
						},
						{ 
							field: "imgUrl",
							title: "图片路径" 
						},
						{ 
							field: "tips",
							title: "提示" 
						},					
						{ 
							field: "key",
							title: "答案"
						},
						{ 
							field: "level",
							title: "难度"
						},
						{ 
							field: "tags",
							title: "标签"
						},
						{ 
							field: "type",
							title: "类型",
						},
						{ 
							field: "writeTime",
							title: "写入时间",
						},
						{ command: ["edit", "destroy"], title: "&nbsp;", width: "160px" }],
                    editable: "popup",
                    filterable:true,
                    edit:function(e){

                    	$.post(DataHost + '/manger/client/read', {skip:0, pageSize:1000}, function(d){
                            var d = d.Data;
                            d.unshift({"_id":"","desc":"选择商业用户"})
                            $('input[name="clientId"]').kendoDropDownList({
                                dataTextField: "desc",
                                dataValueField: "_id",
                                dataSource: d
                            });
                        }, 'json');

                        var level = [
                            { text: "请选择", data: "" },
                            { text: "1级难度", data: 1 },
                            { text: "2级难度", data: 2 },
                            { text: "3级难度", data: 3 },
                            { text: "4级难度", data: 4 },
                            { text: "5级难度", data: 5 },
                        ];

                        $('input[name="level"]').kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "data",
                            dataSource: level
                        });


                        var type = [
                            { text: "请选择", data: "" },
                            { text: "填空题", data: 1 },
                            { text: "选择题(暂无)", data: 2 },
                        ];

                        $('input[name="type"]').kendoDropDownList({
                            dataTextField: "text",
                            dataValueField: "data",
                            dataSource: type
                        });

                        $('input[name="tips"]').inputTips('答填空题是提示，选择题是候选项，例如：答案提示1,答案提示2,答案提示3,答案提示4；用英文逗号分割,不要加引号。');

                        $('input[name="key"]').inputTips('题目答案，例如：正确答案1,正确答案2,正确答案3,正确答案4；用英文逗号分割,不要加引号。');

                        $('input[name="tags"]').inputTips('题目标签用于区分题目，例如：历史,科学,时尚,明星；用英文逗号分割,不要加引号。');

	                }		
                });
									
});

</script>
<% include inc/foot %>
