<% include inc/head2 %>
<% include inc/top %>
<% include inc/left %>


 <div id="grid"></div>
<script id="popup_editor" type="text/x-kendo-template">
          
            <div class="k-edit-label w-800-l">
                <label for="_id">内容id</label>
            </div>
            <div data-container-for="_id" class="k-edit-field w-800-r"  data-bind="value:_id">
                <input type="text" class="k-input k-textbox w-50-inp" name="_id" data-bind="value:_id" readonly="readonly">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="appId" >开发商</label>
            </div>
            <div data-container-for="appId" class="k-edit-field w-800-r">
               <input type="text" id="appId_inp" class="k-input k-textbox w-50-inp" name="appId" data-bind="value:appId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="coId" >小区</label>
            </div>
            <div data-container-for="coId" class="k-edit-field w-800-r">
               <input type="text" id="coId_inp" class="k-input k-textbox w-50-inp" name="coId" data-bind="value:coId">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="userId" >用户id</label>
            </div>
            <div data-container-for="userId" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="userId" data-bind="value:userId" required="required" required="required" data-required-msg="请填写用户id" aria-invalid="true">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="userName" >用户姓名</label>
            </div>
            <div data-container-for="userName" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="userName" data-bind="value:userName" required="required" readonly="readonly" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="userSex" >用户性别</label>
            </div>
            <div data-container-for="userSex" class="k-edit-field w-800-r">
               <input type="text" id="user_sex" class="k-input k-textbox w-50-inp" name="userSex" data-bind="value:userSex" required="required" readonly="readonly" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="userMobile" >用户电话</label>
            </div>
            <div data-container-for="userMobile" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="userMobile" data-bind="value:userMobile" required="required" readonly="readonly" >
            </div>



            <div class="k-edit-label  w-800-l">
                <label for="recName" >被推荐人姓名</label>
            </div>
            <div data-container-for="recName" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="recName" data-bind="value:recName" required="required" required="required" data-required-msg="请填写被推荐人姓名" aria-invalid="true">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="recSex" >被推荐人性别</label>
            </div>
            <div data-container-for="recSex" class="k-edit-field w-800-r">
               <input type="text" id="rec_sex" class="k-input k-textbox w-50-inp" name="recSex" data-bind="value:recSex" required="required" >
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="recTel" >被推荐人电话</label>
            </div>
            <div data-container-for="recTel" class="k-edit-field w-800-r">
               <input type="text" class="k-input k-textbox w-50-inp" name="recTel" data-bind="value:recTel" required="required" required="required" data-required-msg="请填写被推荐人电话" aria-invalid="true">
            </div>


            <div class="k-edit-label  w-800-l">
                <label for="recStatus" >处理状态</label>
            </div>
            <div data-container-for="recStatus" class="k-edit-field w-800-r">
               <input type="number" class="k-input k-textbox w-50-inp" name="recStatus" data-bind="value:recStatus" required="required" id="status_inp"  aria-invalid="true">
            </div>

            <div class="k-edit-label  w-800-l">
                <label for="writeTime">创建日期</label>
            </div>
            <div data-container-for="writeTime" class="k-edit-field w-800-r">
               <input type="text" id="writeTime" class="k-input k-textbox " name="writeTime" data-bind="value:writeTime">
            </div>

           

        </script>


<script>

    window.news_type = [window.news_type[0]];


 $(function () {
                var toolbarAry = [
                                { name: "create", text: "添加内容" }
                              ]
                var commandAry = [
                                { name: "edit", text: {edit: "编辑", update: "确定",  cancel: "取消"} },
                                { name: "destroy", text: "删除"},
                              ]
                                           
                var DataHost = window.DataHost,
                    dataSource = new kendo.data.DataSource({
                        type: "json",
                        serverPaging: true,
                        serverSorting: true,
                        batch: true,
                        pageSize: 15,
                        serverFiltering:true,
                        //filter: [
                        //    { field: "appNewsType", operator: "eq", value: 1 }
                        //],
                        transport: {
                            read:  {
                                url: DataHost + "/manger/rec/read",
                                type: "post"
                            },
                            update: {
                                url: DataHost + "/manger/rec/update",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            },
                             destroy: {
                                url: DataHost + "/manger/rec/destroy",
                                type: "post"
                            },
                            create: {
                                url:DataHost + "/manger/rec/create",
                                type: "post",
                                complete: function(e) {
                                            $("#grid").data("kendoGrid").dataSource.read(); 
                                    }
                            }
                        },
                        schema: {
                            total: "Total",
                            data: "Data",
                            model: {
                                id:"_id",
                                fields: {
                                    "_id": { editable: false },
                                    "appId": { editable: true },
                                    "coId": { editable: true },
                                    "userId": { editable: true },
                                    "openId": { editable: true},

                                    "userName": { editable: true },
                                    "userMobile": { editable: true},
                                    "userSex": { editable: true, type:'Number' },
                                    "recName": { editable: true},
                                    "recSex": { editable: true ,type:'Number' },
                                    "recTel": { editable: true},
                                    "recStatus": { editable: true,type:'Number'  },

                                    "writeTime": {editable: true, type: "date" },
                                }
                            }
                        }
                    });

                

$.post('/manger/app/getList',{},function(data_ary){
                var d = []
                data_ary.forEach(function(v){
                    d.push({
                        text: v.appName, 
                        value:v._id
                    })
                })

 $.post('/manger/co/getList',{},function(data_ary2){
                var d2 = []

                data_ary2.forEach(function(v){
                    d2.push({
                        text: v.coName, 
                        value:v._id
                    })
                })

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    pageable: true,
                    height: 700,
                    toolbar: toolbarAry,
                    columns: [
                        {
                            field:'_id',
                            title:'推荐id',
                            hidden:true
                        },
                        { 
                            field: "appId",
                            title: "开发商", 
                            values:d
                        },
                        { 
                            field: "coId",
                            title: "小区", 
                            values:d2
                        },
                        { 
                            field: "userId",
                            title: "用户id", 
                            hidden:true
                        },
                        { 
                            field: "openId",
                            title: "微信id", 
                         
                        },
                        { 
                            field: "userName",
                            title: "用户姓名", 
                            filterable:false
              
                        },
                        { 
                            field: "userMobile",
                            title: "用户手机", 
                            hidden:true
                        },
                        { 
                            field: "userSex",
                            title: "用户性别", 
                            hidden:true
                        },
                        { 
                            field: "recName",
                            title: "推荐人姓名", 
          
                        },
                        { 
                            field: "recSex",
                            title: "推荐人性别", 
                            values:window.sex_ary
                        },
                        { 
                            field: "recTel",
                            title: "推荐人电话", 
                        },
                        { 
                            field: "recStatus",
                            title: "推荐处理状态", 
                            values:window.rec_status
                        },                       
                        { 
                            field: "writeTime",
                            title: "创建日期",
                            format: "{0: yyyy-MM-dd HH:mm:ss}"
                        },
                        { command: commandAry, title: "&nbsp;", width: "160px" }],
                    editable: {
                        confirmation:'确定删除吗？',
                        mode:"popup",
                        template: kendo.template($("#popup_editor").html()),
                        window : {
                                title: "添加/修改",
                                width:800,
                            }
                        },
                    edit:function(e){
                        $('.k-window-content').addClass('w-800-content');
                        $('.k-edit-form-container').addClass('w-800-content');
         

                        $('#writeTime').kendoDateTimePicker();
     

  
                        window.dropdown_init($("#appId_inp"), d)
                        window.dropdown_init($("#coId_inp"), d2)
                        window.dropdown_init($("#status_inp"), window.rec_status)

                        window.dropdown_init($("#user_sex"), window.sex_ary)
                        window.dropdown_init($("#rec_sex"), window.sex_ary)

                       

                    },
                    filterable:window.filter_obj         
                });

            })
                
      })                              
});

</script>
<% include inc/foot %>
