<% include inc/headfile_v2 %>
<style>body,html{ background: none; overflow: hidden;}</style>
<section class="main">
	<div id="J_slide" class="j-slider">
		<div class="viewport">
			<div class="item" style="background-image:url('http://wkmixtown.qiniudn.com/broke/Fbg_v3.jpg')">
				<a class="btn-static-go" href="/view/user/index_nologin_v2?wxuserid=<%= userObj._id %>"></a>
			</div>										
		</div>
		<!--
		<div class="pointer">						
				<span class="current"></span>						
			</div>	
		-->					
	</div>
</section>

<% include inc/foot_v2 %>