<% include inc/headfile_v2 %>

<section class="main animated">
	<div class="main-box">
		<div class="unregister">
			<figure>
				<a href="/view/user/regist_v2?wxuserid=<%= userObj._id %>"><img src="http://wkmixtown.qiniudn.com/broke%2Funregister.jpg" alt=""></a>
			</figure>
		</div>
	    <% include inc/body_v2 %>
    </div>
</section>

<% include inc/foot_v2 %>