<% include inc/headfile_v2 %>
		<section class="main animated fadeInDown">
			<div class="main-box">
				<h1 class="jjr-register"></h1>
				<p class="rb-row" id="errtip"></p>
				<p class="rb-row">

					<input type="text" class="input" placeholder="请输入真实姓名" id="appUserName" name="appUserName" maxlength="20" />

				</p>
				<p class="rb-row">

					<input type="text" class="input" placeholder="请输入手机号" id="mobile" name="mobile" maxlength="11" />

				</p>
              
                <p class="rb-row rb-select">
					<select id="job" class="select">
						<option value="">选择您的身份类型</option>
						<option value="GSYG">公司员工</option>
						<option value="WXFS">大众经纪人</option>
						<option value="ZJGS">中介公司</option>
						<option value="DLGS">代理公司</option>
						<option value="HZHB">合作伙伴</option>		
					</select>
					<i class="icon-down-open-big"></i>
				</p>


				<div class="recommend-tips">
					<h6>提示</h6>
					<p>请输入正确的姓名以及电话，否则可能无法结佣。</p>
				</div>
				<p class="rb-submit"><input type="button" value="注册" class="btn" id="submitBtn"/></p>
				<p class="register-tips">置业顾问、案场经理请勿注册为经纪人</p>
			</div>
		</section>
		


<script type="text/javascript">
  $(function(){

      $('body').addClass('index')

      var errimg = '<img class="err_img" src="/static/images/err.jpg" width="16" height="16" />'
      $('#submitBtn').click(function(){
        if(window.isajax) return false;
          $('#errtip').hide();

          var mobile = $('#mobile').val();
          var appUserName = $.trim($('#appUserName').val());
          var house = $.trim($('#house').val());
          var job_val = $('#job').val();
          var appUserBuilding = ''
          var appUserRoom = ''

          if(!/^1[0-9][0-9]\d{4,8}$/.test(mobile)){
              $('#errtip').html(errimg+'手机号输入有误').show()
              return false;
          }
          if(!appUserName){
              $('#errtip').html(errimg+'请输入真实姓名').show()
              return false;
          } 

          if(!job_val){
          	  $('#errtip').html(errimg+'请选择身份类型').show()
              return false;
          }
          /*
          if(!house){
              $('#errtip').html('请输入楼房号').show()
              return false;
          }
          if(house){

              if(house.indexOf('-') == -1){
                 $('#errtip').html(errimg+'楼房号用"-"分割').show()
                 return false;
              }
              appUserBuilding = house.split('-')[0]
              appUserRoom = house.split('-')[1]
              
          }
          */

          window.isajax = true
          $('#errtip').empty().hide();

          $.post('/api/user/binder',{
            'appUserName':appUserName,
            'appUserMobile':mobile,
            'code1':job_val,
            'wxuserid':window.userid
          },function(d){
              window.isajax = false;
              if(d.error) return $('#errtip').html(errimg+d.data).show();

              /*
              if(d.data.appUserType == 2){
                alert('您是老业主，认证成功');
              }
              else{
                alert('提交成功,请等待审核');
              }
              */

               alert('恭喜您注册成功')
              setTimeout(function(){
                location.href = location.href
              },500)             
          },'json')

      })

  })
</script>

<% include inc/foot_v2 %>