<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<title>诺鼎信鸽全民经纪人平台</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no,email=no" />
<meta name="mobileOptimized" content="width" />
<meta name="handheldFriendly" content="true" />
<meta http-equiv="Cache-Control" content="max-age=0" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="/static/broker_v2/static/css/mjjr.css"/>
<link rel="stylesheet" href="/static/broker_v2/css/main.css">
<script src="http://sg.6998cdn.com/skin2013v2/js/jquery.1.7.1.min.js" type="text/javascript"></script>
<style type="text/css">
.jjr-register{
	background: url(http://bcs.duapp.com/xytimg/menu%2Fregister-logo2.png) no-repeat;
	background-size: 47%;
}
.floor h3{
	line-height: 24px;
	padding-top: 5px;
}
.transacH1{
	text-align: center;
	color: #c00;
	padding-top: 20px;
}
.nav-rule-detail span {
margin-left: 0px;
}
.nav-rule span {
margin-left: 0px;
}
</style>
<script>
    
    window.userid = '<%= userObj._id %>'
    window.username = '<%= userObj.appUserName %>'
    if(window.username == 'undefined'){
        window.username = '未知用户'
    }
</script>
</head>
<body>