    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">

                  <li class="nav-header">系统设置</li>
                  <li><a href="/manger/admin/list">管理员</a></li>
                  <li><a href="/manger/app/list">应用管理</a></li>

                  <li class="nav-header">用户管理</li>
                  <li><a href="/manger/user/list">用户信息</a></li>

                  <li class="nav-header">微信设置</li>
                  <li><a href="/manger/reply/list">微信图文回复</a></li>
                  <li><a href="/manger/menu/list">自定义菜单</a></li>

                  <li class="nav-header">活动管理</li>
                  <li><a href="/manger/active/list">活动管理</a></li>
                  <li><a href="/manger/activelog/list">活动流水</a></li>
                  <li><a href="/manger/activelog/ranklist">活动排行</a></li>
                  

            </ul>
          </div><!--/.well -->
        </div><!--/span--> 
        <div class="span10">