<div id="rule_div_box" class="protocol-dialog" style="display: none;">
    <a class="button-close" href="javascript:;">关闭</a>
    <a class="button-true" href="javascript:;">确定</a>
    <div class="protocol-content">
      <p>全民经纪人活动</p>
      <p>活动时间：<br/>
        2014年8月20日（确定上线时间）至开盘后一周内
      </p>
      <p>活动对象：<br/>
        注册并通过认证的经纪人
      </p>
      <p>参与项目：<br/>
        开盘房源
      </p>
      <p>
        活动细则：
      </p>
      <p>
        1、到访有礼：经纪人带领有效的被推荐客户在审核通过后10日内到访售楼处，经纪人可获得50元手机电话卡。<br/>

        *有效的被推荐人——经审核，符合条件客户，以微信平台客户状态为准（审核通过后，客户状态由未审核变为未来访）<br/>

        *有效的被推荐人认定标准——销售系统查询该客户未来过销售中心
      </p>
      <p>
        2、成交有礼：被推荐人在活动期内成功认购开盘房源并签订 《商品房买卖合同》，经纪人根据被推荐人购买产品类型领取佣金，标准如下（税前）。<br/>

        *高层公寓（约89-117㎡） ——佣金标准5000元/套<br/>

        *情景洋房（约123-142㎡）——佣金标准10000元/套<br/>
        <!--
        *情情景洋房顶层、底层复式，高层顶层（约142-184㎡）——佣金标准3000元/套
        -->
      </p>
      <p>
        3、佣金结算：个体经纪人结算佣金时需提供当地税务部门出具的劳务费发票（产生的费用自行承担），中介机构经纪人以公司形式结算。
      </p>
      <p>
        4、关于客户推荐的相关说明。<br/>

        *客户以组为单位，如家庭成员被两个以上经纪人推荐（例如夫妻两人被两个经纪人同时推荐），佣金规属以首个登记经纪人为准，前者节佣后者不节佣。<br/>

        *平台推荐客户的有效期为审核通过后的10日，若10日内被推荐客户未来访，则此次推荐客户失效（系统自动删除此次推荐信息），客户可被再次推荐。

      </p>
      <p>
        5、本活动最终解释权归有限公司所有。
      </p>

      <p>
        温馨提示：<br/>
        本活动细则作为经纪人平台协议的一部分，是对经纪人平台协议的补充，本活动细则未作约定的，以经纪人平台协议约定为准。 <br/>
        经纪人平台推荐客户10日内未到访的则视作客户无效。
      </p>
    </div>
  </div>