	<footer class="page-footer">
		<p class="copyright">&copy;绿城黄浦湾</p>
	</footer>
	<div class="mask"></div>

	<div class="day_sign_toolbar" style="display:none;" id="rec_nes"></div>

	<script src="/static/wanke_skin/js/main.js"></script>
</body>
</html>