body,html{
    overflow: hidden;
}
*{margin:0;padding:0;border:none;outline:0;font-size:100%; font-family: sans-serif; list-style:none; font-family:"微软雅黑";}
input,button{font-family:Arial, Helvetica, sans-serif; background:none;}
label{cursor:pointer; margin-right:5px;}
body {font-size:12px;line-height:18px;color:#333;  background-color:#000 !important;}
img{vertical-align:middle; border:none;}
button {display:inline-block; cursor:pointer;}
p { line-height:18px; font-size:12px; color:#555;}
.fl{float:left; display: block;}
.fr{float:right; display: block;}
.text_l { text-align:left !important;}
.text_c { text-align:center !important;}
.text_r { text-align:right !important;}
.text_t { vertical-align:top !important;}
.text_m { vertical-align:middle !important;}
.clear{zoom:1;}
.clear:after{clear:both;content:'';display:block;}
.cl{ clear:both;}
i{ text-decoration: line-through; color:#777;}
.hide{display:none !important;}
a:link,a:visited{color:#2b2b2b;text-decoration:none;font-family:  sans-serif; }
a:hover{text-decoration:underline;}
.purple_a:link,.purple_a:visited{color:#ee2fa0;}
.whitea:link,.whitea:visited{color:#fff;}
.bluea:link,.bluea:visited{color:#1d95c6;}
.blacka:link,.blacka:visited{color:#333;}
.graya:link,.graya:visited{color:#727272;}
.orangea:link,.orangea:visited{color:#f33101}
.orangea2:link,.orangea2:visited{color:#ff6b37}

.underLine_a:link,.underLine_a:visited{ text-decoration:underline;}


.yh{ font-family:"微软雅黑";}
.ft12{font-size:12px}
.ft14{font-size:14px}
.ft16{font-size:16px}
.ft18{font-size:18px}
.ft20{font-size:20px}
.ft24{font-size:24px}
.ftbold{ font-weight:bold;}
.fl{ float:left;}
.fr{ float:right;}
.checkbox{ margin-right:5px; cursor:pointer; vertical-align: middle;}
.select{ border: 1px solid #CECECE; padding: 2px;line-height:18px; margin-right:8px; min-width:50px;}

.blackt{ color:#333;}
.bluet{color:#1d95c6;}
.grayt{color:#555;}
.oranget{color:#f46718;}
.greent{color:#1cb0a4;}
.purplet{color:#ee2fa0;}
.bluet2{color:#0a72c6;}
.yellowt{color:#ffe50d;}
.redt{color:#c22110;}
.grayt2{ color:#999;}
.grayt3 {color:#777676;}
.oranget2{ color:#ff9000}
.greent2 { color:#1d7d07;}
.zit {color:#b90cc4;}

.err_tip{ display:inline-block; padding-left:20px; line-height:18px; height:18px; background:url(../img/icon.png) 0 0 no-repeat; color:#f33101;}
.tip_tip{ display:inline-block; padding-left:20px; line-height:18px; height:18px; background:url(../img/icon.png) 0 -120px no-repeat; color:#666;}
.suc_tip{ display:inline-block; padding-left:20px; line-height:18px; height:18px; background:url(../img/icon.png) 0 -200px no-repeat; color:#333;}

.grayt3{color:#4a4a4a;}
.blackt{ color:#000;}
.whitet{ color:#fff !important;}

.wrap{
    width: 500px;
    height: 1172px;
    overflow: hidden;
    position: relative;
    background: url('../img/bg.jpg') 0 0 no-repeat;
	margin:0 auto;
}
.p1{
    width: 70px;
    height: 30px;
    position: absolute;
top: 430px;
left: 228px;
    font-size: 20px;
    line-height:30px;
    color:#fff;
	text-align:center;
	font-weight:bolder;
}
.p2{
    width: 110px;
    height: 30px;
    position: absolute;
    top: 431px;
    left: 0px;
    font-size: 20px;
    line-height:30px;
    color:#fff;
	text-align:right;
	font-weight:bolder;
}
.p3{
	width:400px;
	height:265px;
	position: absolute;
top: 662px;
left: 53px;
	line-height:25px;
	color:#fff;
	font-size:14px;
}
a.button{
    width: 245px;
    display: block;
    height: 40px;
    position: absolute;
    top: 500px;
	left: 134px;
}
a.button2{
	top:565px !important;
}